/* Main Navigation */

#menu {width:945px; height:40px; position:relative; z-index:100;font-family:arial, sans-serif;  padding-left: 20px; background: url("../images/nav.jpg") no-repeat;}
#menu {width:930px; w\idth:929px; }
#menu ul {padding:0;margin:0;list-style-type:none;}
#menu ul ul {width:100px;}
#menu li {float:left;width:100px;position:relative;}
#menu a, #menu a:visited {display:block;font-size:11px; text-decoration:none; width:100px; height:40px; padding-top: 5px; line-height:29px; font-weight:bold; text-transform:uppercase; text-align:center; color:#666666}
#menu ul ul a, #menu ul ul a:visited {color:#fff; border-bottom:1px solid #ccc; border-width:1px 0 1px 1px; font-weight:normal; text-transform:none; text-align:left;}
#menu ul ul a.nodrop, #menu ul ul a.nodrop:visited {background:#e4e4e4 url(../images/grey-only.gif) no-repeat 160px center;}
#menu ul ul a.drop, #menu ul ul a.drop:visited {background:#e4e4e4 url(../images/grey-arrow.gif) no-repeat 160px center;}
#menu ul ul a.drop:hover{background:#fff url(../images/yellow-arrow.gif) no-repeat 160px center;}
#menu ul ul a.nodrop:hover{background:#fff url(../images/white-only.gif) no-repeat 160px center;}
#menu ul ul a:hover > a.drop {background:#fff url(../images/yellow-arrow.gif) no-repeat 160px center;}
#menu ul ul a:hover > a.nodrop {background:#fff url(../images/white-only.gif) no-repeat 160px center;}
#menu ul ul ul a, #menu ul ul ul a:visited {background:#fff; width:145px;}
#menu ul ul ul a:hover {background:#fff;}
#menu ul ul {visibility:hidden;position:absolute;height:0;top:35px;left:0; width:160px;border-top:1px solid #ccc;}
/* another hack for IE5.5 */
#menu ul ul {top:34px;t\op:35px;}
#menu ul ul ul{left:170px; top:-1px; width:160px;}
#menu ul ul ul.left {left:-160px;}
#menu table {position:absolute; top:0; left:0; border-collapse:collapse;;}
#menu ul ul a, #menu ul ul a:visited {background:#e4e4e4; color:#000; height:auto; line-height:1em; padding:5px 10px; 
width:150px;border-width:0 1px 1px 1px;}
/* yet another hack for IE5.5 */
#menu ul ul a, * html #menu ul ul a:visited {width:150px;w\idth:150px;}
#menu a:hover, #menu ul ul a:hover{color:#666; background:#fff;}
#menu :hover > a, #menu ul ul :hover > a {color:#666; background:#fff;}
#menu :hover > a {color:#666; background-image:url(../images/main-nav-hover-bg.jpg);  background-repeat:repeat-x;}
#menu ul ul :hover > a {color:#666; background:#fff;}

#menu ul li:hover ul,
#menu ul a:hover ul{visibility:visible; }
#menu ul :hover ul ul{visibility:hidden;}
#menu ul :hover ul :hover ul{ visibility:visible;}

/* Menu Style 2 - Orange */

#menu2 {width:945px; height:40px; position:relative; z-index:100;font-family:arial, sans-serif;  padding-left: 20px; background: url("../images/nav-orange.jpg") no-repeat;}
#menu2 {width:930px; w\idth:929px; }
#menu2 ul {padding:0;margin:0;list-style-type:none;}
#menu2 ul ul {width:100px;}
#menu2 li {float:left;width:100px;position:relative;}
#menu2 a, #menu2 a:visited {display:block;font-size:12px;text-decoration:none; width:100px; height:40px; padding-top: 5px; line-height:29px; font-weight:bold; text-transform:uppercase; text-align:center; color:#ffffff;}
#menu2 ul ul a, #menu2 ul ul a:visited {color:#fff; border-bottom:1px solid #ccc; border-width:1px 0 1px 1px; font-weight:normal; text-transform:none; text-align:left;}
#menu2 ul ul a.nodrop, #menu2 ul ul a.nodrop:visited {background:#e4e4e4 url(../images/grey-only.gif) no-repeat 160px center;}
#menu2 ul ul a.drop, #menu2 ul ul a.drop:visited {background:#e4e4e4 url(../images/grey-arrow.gif) no-repeat 160px center;}
#menu2 ul ul a.drop:hover{background:#fff url(../images/yellow-arrow.gif) no-repeat 160px center;}
#menu2 ul ul a.nodrop:hover{background:#fff url(../images/white-only.gif) no-repeat 160px center;}
#menu2 ul ul a:hover > a.drop {background:#fff url(../images/yellow-arrow.gif) no-repeat 160px center;}
#menu2 ul ul a:hover > a.nodrop {background:#fff url(../images/white-only.gif) no-repeat 160px center;}
#menu2 ul ul ul a, #menu2 ul ul ul a:visited {background:#fff; width:145px;}
#menu2 ul ul ul a:hover {background:#fff;}
#menu2 ul ul {visibility:hidden;position:absolute;height:0;top:35px;left:0; width:160px;border-top:1px solid #ccc;}
/* another hack for IE5.5 */
#menu2 ul ul {top:34px;t\op:35px;}
#menu2 ul ul ul{left:170px; top:-1px; width:160px;}
#menu2 ul ul ul.left {left:-160px;}
#menu2 table {position:absolute; top:0; left:0; border-collapse:collapse;;}
#menu2 ul ul a, #menu2 ul ul a:visited {background:#e4e4e4; color:#000; height:auto; line-height:1em; padding:5px 10px; 
width:150px;border-width:0 1px 1px 1px;}
/* yet another hack for IE5.5 */
#menu2 ul ul a, * html #menu2 ul ul a:visited {width:150px;w\idth:150px;}
#menu2 a:hover, #menu2 ul ul a:hover{color:#666; background:#fff;}
#menu2 :hover > a, #menu2 ul ul :hover > a {color:#666; background:#fff;}
#menu2 :hover > a {color:#666; background-image:url(../images/main-nav-hover-bg.jpg);  background-repeat:repeat-x;}
#menu2 ul ul :hover > a {color:#666; background:#fff;}
#menu2 ul li:hover ul,
#menu2 ul a:hover ul{visibility:visible; }
#menu2 ul :hover ul ul{visibility:hidden;}
#menu2 ul :hover ul :hover ul{ visibility:visible;}

/* Level 2 Navigation */

#L2menu {width:945px; height:30px; position:relative; z-index:100;font-family:arial, sans-serif;  padding-left: 20px; background: url("../images/nav.jpg") no-repeat;}
#L2menu {width:930px; }
#L2menu ul {padding:0;margin:0;list-style-type:none;}
#L2menu ul ul {width:100px;}
#L2menu li {float:left;width:100px;position:relative;}
#L2menu a, #L2menu a:visited {display:block;font-size:10px; text-decoration:none; width:100px; height:30px; padding-top: 5px; line-height:19px; font-weight:bold; text-transform:uppercase; text-align:center; color:#666666}
#L2menu ul ul a, #L2menu ul ul a:visited {color:#fff; border-bottom:1px solid #ccc; border-width:1px 0 1px 1px; font-weight:normal; text-transform:none; text-align:left;}
#L2menu ul ul a.nodrop, #L2menu ul ul a.nodrop:visited {background:#e4e4e4 url(../images/grey-only.gif) no-repeat 160px center;}
#L2menu ul ul a.drop, #L2menu ul ul a.drop:visited {background:#e4e4e4 url(../images/grey-arrow.gif) no-repeat 160px center;}
#L2menu ul ul a.drop:hover{background:#fff url(../images/yellow-arrow.gif) no-repeat 160px center;}
#L2menu ul ul a.nodrop:hover{background:#fff url(../images/white-only.gif) no-repeat 160px center;}
#L2menu ul ul a:hover > a.drop {background:#fff url(../images/yellow-arrow.gif) no-repeat 160px center;}
#L2menu ul ul a:hover > a.nodrop {background:#fff url(../images/white-only.gif) no-repeat 160px center;}
#L2menu ul ul ul a, #L2menu ul ul ul a:visited {background:#fff; width:145px;}
#L2menu ul ul ul a:hover {background:#fff;}
#L2menu ul ul {visibility:hidden;position:absolute;height:0;top:35px;left:0; width:160px;border-top:1px solid #ccc;}
/* another hack for IE5.5 */
#L2menu ul ul {top:34px;t\op:35px;}
#L2menu ul ul ul{left:170px; top:-1px; width:160px;}
#L2menu ul ul ul.left {left:-160px;}
#L2menu table {position:absolute; top:0; left:0; border-collapse:collapse;;}
#L2menu ul ul a, #L2menu ul ul a:visited {background:#e4e4e4; color:#000; height:auto; line-height:1em; padding:5px 10px; 
width:150px;border-width:0 1px 1px 1px;}
/* yet another hack for IE5.5 */
#L2menu ul ul a, * html #L2menu ul ul a:visited {width:150px;w\idth:150px;}
#L2menu a:hover, #L2menu ul ul a:hover{color:#666; background:#fff;}
#L2menu :hover > a, #L2menu ul ul :hover > a {color:#666; background:#fff;}
#L2menu :hover > a {color:#666; background-image:url(../images/main-nav-hover-bg.jpg);  background-repeat:repeat-x;}
#L2menu ul ul :hover > a {color:#666; background:#fff;}

#L2menu ul li:hover ul,
#L2menu ul a:hover ul{visibility:visible; }
#L2menu ul :hover ul ul{visibility:hidden;}
#L2menu ul :hover ul :hover ul{ visibility:visible;}
