<ul class="side-nav">
  <li><a href="../graduate/admission.html">Admission</a></li>
  <li><a href="../graduate/module_information.html">Module Information</a></li>
  <li><a href="../graduate/programme_requirements.html">Programme Requirements</a></li>
  <li><a href="../graduate/scholarships.html">Scholarships</a></li>
  <li><a href="../research/graduate_research.html">Graduate Research</a></li>
</ul>