<div class="container">
  <h1>Graduate</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>Module Information</h2>
    <p>The Department offers Level 5000 - 6000 modules for our graduate students. Clicking the links below will bring you to the respective sections.</p>
    <hr>
    <p class="lead">Level 5000 Modules</p>
    <table class="table">
      <thead>
        <tr>
          <th>Module Code</th>
          <th>Module Title</th>
          <th>MC</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>JS5201</td>
          <td><a href="grad_mod_2.html#js5201">Readings in Japanese Studies I</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS5202</td>
          <td><a href="grad_mod_2.html#js5202">Readings in Japanese Studies II</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS5203</td>
          <td><a href="grad_mod_2.html#js5203">Japanese Literary and Performance Studies</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS5204</td>
          <td><a href="grad_mod_2.html#js5204">Contemporary Japanese Social Issues</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS5205</td>
          <td><a href="grad_mod_2.html#js5205">Reading of Japanese Historical Sources</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS5660</td>
          <td><a href="grad_mod_2.html#js5660">Independent Study</a></td>
          <td>4</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <p class="lead">Level 6000 Modules</p>
    <table class="table">
      <thead>
        <tr>
          <th>Module Code</th>
          <th>Module Title</th>
          <th>MC</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>JS6201</td>
          <td><a href="grad_mod_2.html#js6201">Readings in Japanese History & Society</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS6202</td>
          <td><a href="grad_mod_2.html#js6202">Readings in Japanese Politics & Economics </a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS6203</td>
          <td><a href="grad_mod_2.html#js6203">Readings in Japanese Literature & Culture </a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS6204</td>
          <td><a href="grad_mod_2.html#js6204">Readings in Japanese Linguistics  </a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS6660</td>
          <td><a href="grad_mod_2.html#js6660">Independent Study </a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS6770</td>
          <td><a href="grad_mod_2.html#js6770">Graduate Research Seminar </a></td>
          <td>4</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Graduate</li>
      <li>Module Information</li>
    </ul>
  </div>
</div>