<ul>
  <li><a href="/japan_experience/overseas_study.html">Overseas Study</a></li>
  <li><a href="/japan_experience/homestay_programmes.html">Homestay Programmes</a></li>
  <li><a href="/japan_experience/internship.html">Internship</a></li>
</ul>