<!-- START BASIC HOMEPAGE -->
<div class="nus-banner">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			<li data-target="#carousel-example-generic" data-slide-to="3"></li>
			<li data-target="#carousel-example-generic" data-slide-to="4"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active item1">

				<div class="carousel-caption">
					<h3>About the Department of Japanese Studies</h3>
					<p>
						The Centre was established in July 2001 by the Faculty of Arts and Social Sciences. Currently, twelve languages can be studied: Arabic, Bahasa Indonesia, Chinese, French, German, Hindi, Japanese, Korean, Malay, Tamil, Thai and Vietnamese.
					</p>
					<p>
					</p>
				</div>
			</div>
			<div class="item item2">

				<div class="carousel-caption">
					<h3>Classroom Activities & E-learning</h3>
					<p>Students’ active involvement in classroom activities allows them to interact with fellow students and their teachers. E-learning materials such as podcasts provide opportunities for students to learn the languages even when they are out of the classrooms.</p>
				</div>
			</div>
			<div class="item item3">

				<div class="carousel-caption">
					<h3>Immersions</h3>
					<p>Immersions allow students to gain firsthand experience of the target language countries and to interact with the local communities. Homestay, excursions and interactional activities provide opportunities for students to improve their language proficiency.</p>
				</div>
			</div>
			<div class="item item4">

				<div class="carousel-caption">
					<h3>Research</h3>
					<p>Faculty members engage in research in second/foreign language education, focusing on both theoretical and applied research. The Centre publishes a peer-reviewed academic journal, the Electronic Journal of Foreign Language Teaching, and organizes a biennial conference, CLaSIC.</p>
				</div>
			</div>
			<div class="item item5">

				<div class="carousel-caption">
					<h3>Publications</h3>
					<p>The Centre has been active in the publication of research papers and textbooks since its establishment in 2001. Academic publications include books, book chapters and peer-reviewed journal articles on foreign language education and its related disciplines.</p>
				</div>
			</div>
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>

<div class="container">
<h1 class="featurette-heading">Department of Japanese Studies</h1>
<p class="lead">Faculty of Arts and Social Sciences</p>
<div class="col-md-12" style="padding: 20px">
	<h1>News & Events</h1>
	<ul>
		<li><a href="http://www.fas.nus.edu.sg/cls/CLaSIC/clasic2016/index.htm">CLaSIC 2016</a></li>
		<!-- <li><a href="docs/Job/2016_KLPLecturership_Advertisement.pdf">Job Opportunity - Korean</a></li> -->
		<li><a href="docs/pdf/QSranking2016.pdf">QSranking 2016</a></li>
		<li><a href="https://myportal.nus.edu.sg/studentportal/alerts/all">myPortal@NUS  (Student Portal)</a></li>
		<li><a href="docs/language-awards/TEA_Awards2015.pdf">CLS Teaching Excellence Awards</a></li>
		<li><a href="news-and-events/index.html">Staff Awards</a></li>
		<li class="moreNews"><a href="courses/cls-language-awards_files/2014_2015.pdf">CLS Language Prize 2014/2015</a></li>
		<li class="moreNews"><a href="news-and-events/index.html#SEPLPPREGISTRATION">SEP/LPP Registration</a></li>
		<li class="moreNews"><a href="news-and-events/index.html#PlacementTest">Placement Test</a></li>
		<li class="moreNews"><a href="news-and-events/index.html#SATISFACTORY">SatisfactoryUnsatisfactory option for Language  Modules</a></li>
		<li class="moreNews"><a href="https://www.fas.nus.edu.sg/clslang/home.php">External Language  Programmes (For Public)</a></li>
		<li class="moreNews"><a href="docs/Intensive Mandarin Programme.pdf">Intensive Mandarin Programme</a></li>
		<!-- <li><a href="news-and-events/news-and-events.htm#spanish1">Offer of Spanish 1 Module by Yale-NUS</a></li> -->
		<li class="moreNews"><a href="docs/pdf/Thai_Thai_Newsletter_Vol.6_Dec_14.pdf">Thai Newsletter - Vol 6</a></li>
		<li class="moreNews"><a href="http://blog.nus.edu.sg/clsphrasebook" target="_blank">CLS Phrase Book Blog</a></li>
		<li class="moreNews"><a href="news-and-events/certificate.html">CLS Language Certificate of Proficiency</a></li>
	</ul>
	<a id="showNews">Show more...</a>
</div>
</div>
  <!-- START BASIC HOMEPAGE -->


  <!-- NUS BREADCRUMBS - START -->
  <div class="nus-breadcrumbs">
    <div class="container">
      <ul>
        <li><span class="icon faicon fa-location"></span><a href="index.html">Home</a></li>
      </ul>
    </div>
  </div>
  <!-- NUS BREADCRUMBS - END -->