<!-- #BeginTemplate "/Templates/main_navigation.dwt" --><!-- DW6 --><ul>
        <li style="width:90px;"><a  style="width:90px;" href="/jps/index.htm">Home</a></li>
        <!--  *******************About Us menu starts here****************************** -->
        <li  style="width:90px;"><a  style="width:90px;" href="/jps/about/about.htm">About Us
                <!--[if IE 7]><!-->
                </a>
                <!--<![endif]-->
                <!--[if lte IE 6]><table><tr><th><![endif]-->
                <ul>
                        <li  ><a  href="/jps/about/about.htm">About Us</a></li>
                        <li  ><a  href="/jps/about/contact.htm">Contact Us</a></li>
                </ul>
                <!--[if lte IE 6]></th></tr></table></a><![endif]-->
        </li>
        <!--  *******************About Us menu ends here****************************** -->
        <!--  *******************People menu starts here****************************** -->
        <li  style="width:90px;"><a  style="width:90px;" href="/jps/faculty/faculty.htm">People
                <!--[if IE 7]><!-->
                </a>
                <!--<![endif]-->
                <!--[if lte IE 6]><table><tr><th><![endif]-->
                <ul>
                        <li  ><a   href="/jps/faculty/faculty_acad.htm">Academic Staff</a></li>
                        <li  ><a   href="/jps/faculty/faculty_nonacad.htm">Non-Academic Staff</a></li>
                        <li  ><a   href="/jps/faculty/faculty_grad.htm">Graduate Students</a></li>
               </ul>
                <!--[if lte IE 6]></th></tr></table></a><![endif]-->
        </li>
        <!--  *******************People menu ends here****************************** -->
        <!--  *******************Undergraduate menu starts here****************************** -->
        <li  style="width:160px;"><a  style="width:160px;" href="/jps/undergrad/undergrad.htm">Undergraduate
                <!--[if IE 7]><!-->
                </a>
                <!--<![endif]-->
                <!--[if lte IE 6]><table><tr><th><![endif]-->
                <ul>
                        <li  ><a   href="/jps/undergrad/undergrad_adm.htm">Admission</a></li>
                        <li  ><a   href="/jps/undergrad/undergrad_req.htm">Graduate Requirements</a></li>
                        <li  ><a   href="/jps/undergrad/undergrad_mod.htm">Module Information</a></li>
                        <li  ><a   href="/jps/undergrad/undergrad_mentor.htm">Mentoship Scheme</a></li>
                        <li  ><a   href="/jps/undergrad/undergrad_award.htm">Scholarship and Awards</a></li>
                        <li  ><a   href="/jps/undergrad/undergrad_student.htm">Student Activities</a></li>
                        <li  ><a   href="/jps/undergrad/undergrad_career.htm">Career Opportunities</a></li>
                </ul>
                <!--[if lte IE 6]></th></tr></table></a><![endif]-->
        </li>
        <!--  *******************Undergraduate menu ends here****************************** -->
        <!--  *******************Graduate menu starts here****************************** -->
        <li style="width:110px;"><a style="width:110px;" href="/jps/grad/grad.htm">Graduate
                <!--[if IE 7]><!-->
                </a>
                <!--<![endif]-->
                <!--[if lte IE 6]><table><tr><th><![endif]-->
                <ul>
                        <li  ><a   href="/jps/grad/grad_adm.htm">Admission</a></li>
                        <li  ><a   href="/jps/grad/grad_prog.htm">Programme Requirements</a></li>
                        <li  ><a   href="/jps/grad/grad_scholar.htm">Scholarship</a></li>
                        <li  ><a   href="/jps/grad/grad_mod.htm">Module Information</a></li>
                </ul>
                <!--[if lte IE 6]></th></tr></table></a><![endif]-->
        </li>
        <!--  *******************Graduate menu ends here****************************** -->
        <!--  *******************Japan Experience menu starts here****************************** -->
        <li  style="width:160px;"><a style="width:160px;" href="/jps/japan_experience/japan.htm">Japan Experience
                <!--[if IE 7]><!-->
                </a>
                <!--<![endif]-->
                <!--[if lte IE 6]><table><tr><th><![endif]-->
                <ul>
                        <li  ><a   href="/jps/japan_experience/japan_overseas.htm">Overseas Study</a></li>
                        <li  ><a   href="/jps/japan_experience/japan_homestay.htm">Homestay Programmes</a></li>
                        <li  ><a   href="/jps/japan_experience/japan_intern.htm">Internship</a></li>
                </ul>
                <!--[if lte IE 6]></th></tr></table></a><![endif]-->
        </li>
        <!--  *******************Japan Experience menu ends here ****************************** -->
        <!--  *******************Research menu starts here****************************** -->
        <li style="width:100px;"><a style="width:100px;" href="/jps/research/research.htm">Research
                <!--[if IE 7]><!-->
                </a>
                <!--<![endif]-->
                <!--[if lte IE 6]><table><tr><th><![endif]-->
                <ul>
                        <li  ><a   href="/jps/research/research_project.htm">Research Projects</a></li>
                        <li  ><a   href="/jps/research/research_pub.htm">Publications</a></li>
                        <li  ><a   href="javascript:void(0)">Event<!--[if IE 7]><!-->
                </a>
                <!--<![endif]-->
				<!--[if lte IE 6]><table><tr><th><![endif]-->
                          <ul>
                                        <li  ><a   href="/jps/research/research_conf.htm">Conferences</a></li>
                                        <li  ><a   href="/jps/research/research_seminar.htm">Seminars</a></li>
                                </ul>
                                <!--[if lte IE 6]></th></tr></table></a><![endif]-->
                  </li>
						<li  ><a   href="/jps/research/research_grad.htm">Graduate Research</a></li>
                        <li	 ><a   href="/jps/research/research_jsaa.htm">JSA-ASEAN</a></li>
                </ul>
                <!--[if lte IE 6]></th></tr></table></a><![endif]-->
        </li>
        <!--  *******************Research menu ends  here****************************** -->
        <!--  *******************Alumni menu starts here****************************** -->
        <li  style="width:85px;"><a  style="width:85px; " href="/jps/alumni/alumni.htm">Alumni
                <!--[if IE 7]><!-->
                </a>
                <!--<![endif]-->
                <!--[if lte IE 6]><table><tr><th><![endif]-->
                <ul>
                        <li  ><a   href="/jps/alumni/alumni_jsaa.htm">JSAA Committee</a></li>
                </ul>
                <!--[if lte IE 6]></th></tr></table></a><![endif]-->
        </li>
        <!--  *******************Alumni menu ends here****************************** -->
</ul>
<!-- #EndTemplate -->