
/***************
	NUS - BANNER
***************/
.nus-banner{padding:0;margin:0;background:#003d7c;}
.nus-banner img{width:100%;}
.nus-banner .btn-primary{background:#ef7c00;border-color:#ff6600;}

.nus-banner .carousel .item{height:70vh; background-size: cover; background-position: center 30%;}
.nus-banner .carousel .item1{background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8)), url("../images/carousel/carousel1.jpg");) no-repeat;}
.nus-banner .carousel .item2{background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8)), url("../images/carousel/carousel2.jpg");) no-repeat;}
.nus-banner .carousel .item3{background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8)), url("../images/carousel/carousel3.jpg");) no-repeat;}
.nus-banner .carousel .item4{background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8)), url("../images/carousel/carousel4.jpg");) no-repeat;}
.nus-banner .carousel .item5{background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8)), url("../images/carousel/carousel5.jpg");) no-repeat;}

@media screen and (max-width:767px) {
	.nus-banner{margin-bottom:30px;}
}

.nus-components{margin-top:40px;margin-bottom:40px;}
.nus-components.item-page2{min-height:500px;}
.nus-components div[class*="col-"]{margin-bottom:30px;}
.nus-components .page-header{margin-top:0;}
.nus-components h2{margin:0 0 20px 0;}
.nus-components .table2{border:0;}


/***********************************
	FEATURED - ARTICLES - HOMEPAGE
************************************/
.nus-featured-articles{margin:40px 0;}
.nus-featured-articles img{width:100%;}
.nus-featured-articles .row > div{margin:0 0 20px 0;}

@media screen and (max-width:767px) {
	.nus-featured-articles{margin:0 0 40px 0;}
	.nus-featured-articles .intro-image{text-align:center;}
	.nus-featured-articles img{width:inherit;}
}

/***********************************
	FEATURETTE
***********************************/
.featurette-heading{font-size:50px;}
.featurette-divider {margin: 30px 0;}
.featurette{vertical-align:middle;}
.featurette-image{max-width:100%;}
@media screen and (max-width:991px) {
	.featurette{text-align:center;}
}

/**********************************
	MASTHEAD
**********************************/
.nus-jumbotron{background:transparent;text-align:center;
	border-radius:0;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;}

@media (max-width: 375px) {
	.mobile-hide {
		display: none;
	}
}