<div class="container">
  <h1>Graduate</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>Admission</h2>
    <p>The Department of Japanese Studies is one of the largest area studies departments in the Asia-Pacific region devoted to the scholarship on Japan.  The Department offers MA and PhD degrees in Japanese Studies taught by faculty members trained in a wide array of disciplines including anthropology, sociology, history, political science, literature, linguistics and business.  Graduate students are provided with comprehensive guidance and training to carry out independent research in a theme of their choice, and encouraged to make best use of the available expertise by adopting an inter-disciplinary approach.</p>
    <ul>
      <li>A good relevant NUS Honours degree (second class and above) or equivalent (eg., a four-year Bachelors degree with at least an average grade of B or equivalent) for admission as a MA candidate or a good relevant Masters degree for admission as a PhD candidate. </li>
      <li>A strong command of English (recommended minimum TOEFL score of 600 paper-based, 250 computer-based). </li>
      <li>Japanese language proficiency necessary to do coursework and carry out research. </li>
    </ul>
    <p>Successful candidates will (1) fulfill modular requirements, (2) undertake research in a chosen field of study under the guidance of a supervisor, and (3) submit a thesis for examination.</p>
    <p><strong>Please visit <a href="http://www.fas.nus.edu.sg/prospective/grad.html"></a>>FASS Graduate Programmes</a> for information on application.</strong></p>
  </div>

</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Graduate</li>
      <li>Admission</li>
    </ul>
  </div>
</div>