<div class="container">
  <h1>Graduate</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>Module Information</h2>
    <p>The Department offers Level 5000 - 6000 modules for our graduate students. Clicking the links below will bring you to the respective sections.</p>
    <hr>
    <p class="lead">Level 5000 Modules</p>
    <table class="table">
      <thead>
        <tr>
          <th>Module Code</th>
          <th>Module Title</th>
          <th>MC</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>JS5201</td>
          <td><a href="">Readings in Japanese Studies I</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS5202</td>
          <td><a href="">Readings in Japanese Studies II</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS5203</td>
          <td><a href="">Japanese Literary and Performance Studies</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS5204</td>
          <td><a href="">Contemporary Japanese Social Issues</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS5205</td>
          <td><a href="">Reading of Japanese Historical Sources</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS5660</td>
          <td><a href="">Independent Study</a></td>
          <td>4</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <p class="lead">Level 6000 Modules</p>
    <table class="table">
      <thead>
        <tr>
          <th>Module Code</th>
          <th>Module Title</th>
          <th>MC</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>JS5201</td>
          <td><a href="">Readings in Japanese Studies I</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS5202</td>
          <td><a href="">Readings in Japanese Studies II</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS5203</td>
          <td><a href="">Japanese Literary and Performance Studies</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS5204</td>
          <td><a href="">Contemporary Japanese Social Issues</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS5205</td>
          <td><a href="">Reading of Japanese Historical Sources</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS5660</td>
          <td><a href="">Independent Study</a></td>
          <td>4</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Graduate</li>
      <li>Module Information</li>
    </ul>
  </div>
</div>