<div class="container">
  <h1>Graduate</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>Programme Requirements</h2>
    <hr>
    <p class="lead">MA Programme</p>
    <p>MA candidates are required to read and pass 4 modules including the compulsory module JS6770 Graduate Research Seminar (on satisfactory/dissatisfactory grade) before they proceed to research.  Subject to approval by the supervisor, candidates may take up to a maximum of 2 modules outside the Department. In consultation with the Department, 1 module can be a level 4000 module.</p>
    <hr>
    <p class="lead">PhD Programme</p>
    <p>PhD candidates are required to read and pass 6 modules including the complusory module JS6770 Graduate Research Seminar (on satisfactory/dissatisfactory grade).  Up to half of all modules may be taken outside the Department, but must be in disciplines or areas relevant to the candidate's research.</p>
    <p>PhD candidates also need to sit for a Qualifying Examination (QE) consisting of a written comprehensive examination and an oral defense of a 30-50 page thesis proposal.  In accordance with the Faculty's graduate requirement, the QE must be taken no later than the 24th month from the start of the PhD candidature.  A second attempt will be permitted provided that it is taken within 6 months after the first failed attempt.</p>
  </div>

</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Graduate</li>
      <li>Programme Requirements</li>
    </ul>
  </div>
</div>