<div class="container">
  <h1>Graduate</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>Scholarship</h2>
    <p>Graduate students can apply for NUS research scholarships and conference grants.  The University offers attractive bond-free research scholarships on a competitive basis which provide full-time MA and PhD candidates with a monthly stipend and a full research subsidy.  More information can be found at <a href="http://www.fas.nus.edu.sg/">Faculty of Arts and Social Sciences</a> graduate programmes page.</p>
  </div>

</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Graduate</li>
      <li>Scholarship</li>
    </ul>
  </div>
</div>