<ul class="side-nav">
  <li><a href="/undergraduate/admission.html">Admission</a></li>
  <li><a href="/undergraduate/graduate_requirements.html">Graduate Requirements</a></li>
  <li><a href="/undergraduate/module_information.html">Module Information</a></li>
  <li><a href="/undergraduate/mentorship_scheme.html">Mentorship Scheme</a></li>
  <li><a href="/undergraduate/scholarship_and_awards.html">Scholarship and Awards</a></li>
  <li><a href="/undergraduate/student_activities.html">Student Activities</a></li>
  <li><a href="/undergraduate/career_opportunities.html">Career Opportunities</a></li>
</ul>