<div class="container">
  <h1>Undergraduate</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>Admission</h2>
    <p>The Department of Japanese Studies provides undergraduates with comprehensive training in the study of Japan, leading to the degree of BA or BA (Hons).  Through a multi-disciplinary approach, the Department aims to cultivate in students the interest and abilities to carry out an in-depth exploration of one of the most dynamic countries in East Asia.  Coursework in Japanese Studies covers a broad range of fields – sociology/anthropology, history, business, linguistics, politics/international relations, and literature, catering to the diverse student interests, and allowing for progression in levels within students' chosen fields of specialization.</p>
    <p>There are no pre-requisites or qualifying tests.  The Department welcomes students who show a keen interest in the subject.  Students are not expected to have studied the Japanese language and for those who have, placement tests will be conducted to enable them to pursue language modules appropriate for their level.  Students with JLPT levels 4, 3, 2 or 1 or GCE O, AO or A levels Japanese language or a pass in the placement test will be granted waivers.  Note that all the language modules are offered by the <a href="http://www.fas.nus.edu.sg/cls/">Centre for Language Studies</a>.</p>
    <p>For admission into the Faculty of Arts and Social Sciences itself, please refer to Undergraduate Programmes at <a href="http://www.fas.nus.edu.sg/">Faculty of Arts and Social Sciences</a>.</p>
  </div>

</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Undergraduate</li>
      <li>Admission</li>
    </ul>
  </div>
</div>