<div class="container">
  <h1>Undergraduate</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>Career Opportunities</h2>
    <p>Employment prospects for Japanese Studies majors have been good in view of the large number of Japanese investments and non-Japanese sectors which have large Japanese portfolios.  The department receives many job requests every year and these are publicised on the departmental notice-board.Trading and other links between Singapore and Japan have been developing steadily.  Many Singaporean companies have been building ties with Japan across a wide spectrum of activities, and Japanese companies have continued to establish plants and offices in Singapore.  These companies naturally look to the Department of Japanese Studies to find new recruits and we anticipate a continuing private sector demand for our graduates.</p>
    <p>Armed with combined majors in other disciplines, graduates of the department have proven to be versatile yet sufficiently specialised for the career market.  They have helped to fill the needs of local corporations and enterprises who require employers with an understanding of Japan to interact with business networks in Japan.  Many graduates have also found employment in the various ministries and statutory boards, as well as in the fields of banking and finance, marketing and management, and the mass media.</p>
    <ul>
      <li><a href="/docs/tempstaff.pdf">Tempstaff Singapore</a></li>
      <li><a href="/docs/Pasona Singapore.pdf">Pasona Singapore</a></li>
    </ul>
  </div>

</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Undergraduate</li>
      <li>Career Opportunities</li>
    </ul>
  </div>
</div>