<div class="container">
  <h1>Japan Experience</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>Internships</h2>
    <h4>In Japan</h4>
    <p>Since May 1998, the department has also begun a new Business Internship Programme for our students in Hiroshima. Hiroshima Singapore Association Internship Programme aims to provide the students with a firsthand experience of working in a Japanese business environment. Students will have two days of Japanese langauge training before the three-week internship at these companies: Hiroshima ANA Hotel, Hiroshima Shinyo Bank, Japan Travel Bureau, Kinki Nihon Tourist, Molten and Righa Royal Hotel. They will also experience the Japanse lifestyle and culture through living with host families and in dormitories.</p>
    <h4>In Singapore</h4>
    <p>In 2005, the Department of Japanese Studies started an internship programme during the May to July vacation. This new internship programme enabled students to have first hand experience of working in Japanese companies or Japan-related companies in Singapore . It also fulfills the Department's aim to work more closely with companies and organizations in Singapore which are the potential employers of our graduates.</p>
    <p>In total, 5 students were selected for the internship programme which ranged from 6 to 8 weeks. Two students were attached to International Enterprise Singapore (IE), and one student each to Rushes Networks Pte Ltd, Sumitomo Corporation (S) Pte Ltd and Yusen Air & Sea Service (S) Pte Ltd. On the whole, students felt that the internship experiences were enriching, enjoyable and beneficial.</p>
    <hr>
    <div class="well">
      <p class="lead">"The experience taught me the importance of teamwork and the leader's role in welfare and management"</p>
      <p>Jane Fong (interned at Rushes Networks)</p>
    </div>
    <div class="well">
      <p class="lead">"The internship experience was fun, fulfilling, enriching and highly recommended."</p>
      <p>Lim Jiaqi (interned at Sumitomo Corporation)</p>
    </div>
    <div class="well">
      <p class="lead">"Everyone at the company was nice and amiable, and I got to know more friends through the internship."</p>
      <p>Wu Junxiang (interned at Yusen Logistics Air & Sea Services)</p>
    </div>
  </div>
</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Japan Experience</li>
      <li>Internship</li>
    </ul>
  </div>
</div>