<div class="container">
  <h1>Undergraduate</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>J-Music Circle</h2>
    <p>The NUS J-Music Circle, formerly known as the Japanese Karaoke Club, was formed in 1985.  Activities during the Karaoke Club era include Karaoke and Karaoke, and Karaoke.  As from August 2005, the newly born NUS J-Music Circle strives to bring Japanese Music to the NUS masses through a series of activites such as bigger-scale music competitions and concerts, such as the highly successful NUS J-Rock Festival 2006 (in which Superband Finalist Lucify participated), co-organised with the NUS Japanese Studies Society.  We also have weekly gatherings, where JMC members can wind down, relax and watch J-Rock/J-Pop music videos and concerts, after a tiring week at school.  The J-Music Circle site, located at <a href="http://nusjmc.wordpress.com/">http://nusjmc.wordpress.com/</a>, includes Japanese music recommendations and other information about our activities, and the JMC team is looking to add podcasts to the list of online features.  So if you are an avid J-pop/J-Rock fan, do join us today!</p>
  </div>

</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Undergraduate</li>
      <li>Student Activities</li>
      <li>J-Music Circle</li>
    </ul>
  </div>
</div>