<div class="container">
  <h1>Undergraduate</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h1>Mentorship Scheme</h1>
    <p>The Department of Japanese Studies has instituted a mentorship scheme to provide major students with guidance.  Our department offers a wide variety of modules across various disciplines and provides many opportunities for students to study in Japan.  Getting the most out of your NUS life takes some careful planning. For example, if you want to go on a student exchange program to Japan you may have to plan early.  Or, if you want to write a thesis on a certain topic during your honors year, choosing the right modules to prepare for your research is important.  We are here to help you.</p>
  </div>

</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Undergraduate</li>
      <li>Mentorship Scheme</li>
    </ul>
  </div>
</div>