<div class="container">
  <h1>Undergraduate</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>Module Information</h2>
    <p>The Department offers Level 1000 - 4000 modules for our undergraduate students. Clicking the links below will bring you to the respective sections.</p>
    <ul>
      <li><a href="#level1000">JS Level 1000 modules</a></li>
      <li><a href="#level2000">JS Level 2000 modules</a></li>
      <li><a href="#level3000">JS Level 3000 modules</a></li>
      <li><a href="#level4000">JS Level 4000 modules</a></li>
      <li><a href="#gem2014andbefore">General Education Modules (Cohort 2014 and before)</a></li>
      <li><a href="#gem2015andafter">General Education Modules (Cohort 2015 and after)</a></li>
    </ul>
    <p><strong>Note:</strong> Not all modules are available in a semester.</p>
    <ul>
      <li><a href="/docs/modules_sem2_AY2016-17.pdf">List of modules offered in Semester 2, AY2016-2017</a></li>
    </ul>
    <h3>Japanese Language Modules</h3>
    <p>Japanese language modules are offered by the <a href="http://www.fas.nus.edu.sg/cls/index.htm">Centre for Language Studies</a> and can be viewed in their Japanese language modules page.</p>
    <p><strong>Note:</strong></p>
    <p>Cohort 2013 and before:</p>
    <ul>
      <li>JS major students are not allowed to opt for S/U for Japanese language modules taken as major graduation requirements.</li>
      <li>Students who have taken Japanese language modules, opted for S/U and then subsequently declared JS as a major will have the S/U grade automatically reverted to the letter grade.  The S/U grade, once reverted, will remain even if there is a change in major subsequently.</li>
    </ul>
    <p>Cohort 2014 and after:</p>
    <ul>
      <li>Click <a href="http://www.fas.nus.edu.sg/cls/news-and-events/news-and-events.htm#SATISFACTORY">here</a>.</li>
    </ul>
    <hr>
    <p class="lead" id="level1000">JS Level 1000 modules</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Module Code</th>
          <th>Module Title</th>
          <th>MC</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>JS1101E/GEK1002 </td>
          <td><a href="undergrad_mod_2.html#js1101e">Introduction to Japanese Studies</a></td>
          <td>4</td>
        </tr>
      </tbody>
    </table>
    <p class="lead" id="level2000">JS Level 2000 modules</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Module Code</th>
          <th>Module Title</th>
          <th>MC</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>JS2101</td>
          <td><a href="undergrad_mod_2.html#js2101">Approaches to Japanese Studies I</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS2203</td>
          <td><a href="undergrad_mod_2.html#js2203">Sound, Grammar and Meaning</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS2212</td>
          <td><a href="undergrad_mod_2.html#js2212">Introduction to Japanese Literature</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS2213</td>
          <td><a href="undergrad_mod_2.html#js2213">Popular Culture in Contemporary Japan</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS2214</td>
          <td><a href="undergrad_mod_2.html#js2214">Ideas and Images in Japanese Culture</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS2216</td>
          <td><a href="undergrad_mod_2.html#js2216">Postwar Japanese Film and Anime</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS2221</td>
          <td><a href="undergrad_mod_2.html#js2221">Organisation of Japanese Business</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS2222</td>
          <td><a href="undergrad_mod_2.html#js2222">Japanese Society and Social Institutions</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS2223</td>
          <td><a href="undergrad_mod_2.html#js2223">Government and Politics of Japan</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS2225</td>
          <td><a href="undergrad_mod_2.html#js2225">Marketing and Consumer Culture in Japan</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS2226</td>
          <td><a href="undergrad_mod_2.html#js2226">Global City Tokyo</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS2227</td>
          <td><a href="undergrad_mod_2.html#js2227">Japan and China: Rivals and Partners</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS2228</td>
          <td><a href="undergrad_mod_2.html#js2228">Gender and Sexuality in Japan</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS2229</td>
          <td><a href="undergrad_mod_2.html#js2229">The Japanese Experience</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS2230</td>
          <td><a href="undergrad_mod_2.html#js2230">Itadakimasu - Food in Japan</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS221</td>
          <td><a href="undergrad_mod_2.html#js2231">Japan in Southeast Asia</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS2232</td>
          <td><a href="undergrad_mod_2.html#js2232">Japan and Korea</a></td>
          <td>4</td>
        </tr>
      </tbody>
    </table>
    <p class="lead" id="level3000">JS Level 3000 modules</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Module Code</th>
          <th>Module Title</th>
          <th>MC</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>JS3101</td>
          <td><a href="undergrad_mod_2.html#js3101">Approaches to Japanese Studies II</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS3208</td>
          <td><a href="undergrad_mod_2.html#js3208">Approaches to Japanese Linguistics</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS3210</td>
          <td><a href="undergrad_mod_2.html#js3210">Japan in the Twentieth Century</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS3211</td>
          <td><a href="undergrad_mod_2.html#js3211">Modern Japanese Religion</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS3213</td>
          <td><a href="undergrad_mod_2.html#js3123">Alternative Lives in Contemporary Japan</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS3214</td>
          <td><a href="undergrad_mod_2.html#js3214">Japanese Philosophy and Thought</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS3216</td>
          <td><a href="undergrad_mod_2.html#js3126">Japanese Film and Literature</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS3217</td>
          <td><a href="undergrad_mod_2.html#js3127">Japanese Art and Aesthetics</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS3222</td>
          <td><a href="undergrad_mod_2.html#js3222">Japanese Business Management</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS3223</td>
          <td><a href="undergrad_mod_2.html#js3223">Japan and the Asia-Pacific Region</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS3225</td>
          <td><a href="undergrad_mod_2.html#js3225">Japanese Mass Media </a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS3226</td>
          <td><a href="undergrad_mod_2.html#js3226">Japan: The Green Nation?</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS3227</td>
          <td><a href="undergrad_mod_2.html#js3227">Entrepreneurship: Self-made in Japan</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS3228</td>
          <td><a href="undergrad_mod_2.html#js3228">Japan on the Move</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS3229</td>
          <td><a href="undergrad_mod_2.html#js3229">Field Studies in Japan</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS3230</td>
          <td><a href="undergrad_mod_2.html#js3230">Men and Women in Modern Japanese Literature</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>JS3550</td>
          <td><a href="undergrad_mod_2.html#js3550">Internship</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>IJS3550</td>
          <td><a href="undergrad_mod_2.html#ijs3550">Extended Internship</a></td>
          <td>4</td>
        </tr>
      </tbody>
    </table>
    <p class="lead" id="level4000">JS Level 4000 modules</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Module Code</th>
          <th>Module Title</th>
          <th>MC</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>JS4101</td>
          <td><a href="undergrad_mod_2.html#js4101">Research and Writing in Japanese Studies</a></td>
          <td>5</td>
        </tr>
        <tr>
          <td>JS4207</td>
          <td><a href="undergrad_mod_2.html#js4207">Readings in Modern Japanese</a></td>
          <td>5</td>
        </tr>
        <tr>
          <td>JS4208</td>
          <td><a href="undergrad_mod_2.html#js4208">Japanese Language and Society</a></td>
          <td>5</td>
        </tr>
        <tr>
          <td>JS4207</td>
          <td><a href="undergrad_mod_2.html#js4207">Selected Topics in Japanese Linguistics</a></td>
          <td>5</td>
        </tr>
        <tr>
          <td>JS4211</td>
          <td><a href="undergrad_mod_2.html#js4211">Japanese Culture and Communications</a></td>
          <td>5</td>
        </tr>
        <tr>
          <td>JS4213/HY4218</td>
          <td><a href="undergrad_mod_2.html#js4213">Approaches to Modern Japanese History</a></td>
          <td>5</td>
        </tr>
        <tr>
          <td>JS4214</td>
          <td><a href="undergrad_mod_2.html#js4214">Ideas, Values and Identity in Japan</a></td>
          <td>5</td>
        </tr>
        <tr>
          <td>JS4216</td>
          <td><a href="undergrad_mod_2.html#js4216">Tales and Performance in Premodern Japan</a></td>
          <td>5</td>
        </tr>
        <tr>
          <td>JS4217</td>
          <td><a href="undergrad_mod_2.html#js4217">Selected Topics in Japanese Studies</a></td>
          <td>5</td>
        </tr>
        <tr>
          <td>JS4223</td>
          <td><a href="undergrad_mod_2.html#js4223">Japanese Public Policy</a></td>
          <td>5</td>
        </tr>
        <tr>
          <td>JS4224</td>
          <td><a href="undergrad_mod_2.html#js4224">Japanese International Relations</a></td>
          <td>5</td>
        </tr>
        <tr>
          <td>JS4225</td>
          <td><a href="undergrad_mod_2.html#js4225">Social Dynamics in Modern Japan</a></td>
          <td>5</td>
        </tr>
        <tr>
          <td>JS4226</td>
          <td><a href="undergrad_mod_2.html#js4226">Japanese Law, Society and Public Policy</a></td>
          <td>5</td>
        </tr>
        <tr>
          <td>JS4227</td>
          <td><a href="undergrad_mod_2.html#js4227">Japanese Political Economy</a></td>
          <td>5</td>
        </tr>
        <tr>
          <td>JS4228</td>
          <td><a href="undergrad_mod_2.html#js4228">Japanese Cities in the Global Economy</a></td>
          <td>5</td>
        </tr>
        <tr>
          <td>JS4229</td>
          <td><a href="undergrad_mod_2.html#js4229">Japanese Translation - Theory & Practice</a></td>
          <td>5</td>
        </tr>
        <tr>
          <td>JS4230</td>
          <td><a href="undergrad_mod_2.html#js4230">Advanced Readings in Popular Culture</a></td>
          <td>5</td>
        </tr>
        <tr>
          <td>JS4401</td>
          <td><a href="undergrad_mod_2.html#js4401">Honours Thesis</a></td>
          <td>15</td>
        </tr>

        <tr>
          <td>JS4660</td>
          <td><a href="undergrad_mod_2.html#js4660">Independent Study</a></td>
          <td>5</td>
        </tr>
      </tbody>
    </table>
    <p class="lead" id="gem2014andbefore">General Education Modules (Cohort 2014 and before)</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Module Code</th>
          <th>Module Title</th>
          <th>MC</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>GEK1002</td>
          <td><a href="undergrad_mod_2.html#gek1002">Introduction to Japanese Studies </a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>GEK2022</td>
          <td><a href="undergrad_mod_2.html#gek2022">Samurai, Geisha, Yakuza as Self or Other  </a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>GEK2042</td>
          <td><a href="undergrad_mod_2.html#gek2042">Cultural Borrowing: Japan and China </a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>GEK1046</td>
          <td><a href="undergrad_mod_2.html#gem1046">Home</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>GEM1047</td>
          <td><a href="undergrad_mod_2.html#gem1047">Understanding Consumption</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>GEM1048</td>
          <td><a href="undergrad_mod_2.html#gem1048">International Relations of Asia</a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>SSA2205</td>
          <td><a href="undergrad_mod_2.html#ssa2205">Singapore and Japan: Historical and Contemporary Relationships </a></td>
          <td>4</td>
        </tr>
      </tbody>
    </table>
    <p class="lead" id="gem2015andafter">General Education Modules (Cohort 2015 and after)</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Module Code</th>
          <th>Module Title</th>
          <th>MC</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>GEK1014</td>
          <td><a href="undergrad_mod_2.html#geh1014">Samurai, Geisha, Yakuza as Self or Other </a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>GEH1015</td>
          <td><a href="undergrad_mod_2.html#geh1015">Cultural Borrowing: Japan and China  </a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>GEH1016</td>
          <td><a href="undergrad_mod_2.html#geh1016">Understanding Consumption </a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>GEH1024</td>
          <td><a href="undergrad_mod_2.html#geh1024">International Relations of Asia </a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>GES1015</td>
          <td><a href="undergrad_mod_2.html#ges1015">Singapore and Japan: Historical and Contemporary Relationships  </a></td>
          <td>4</td>
        </tr>
        <tr>
          <td>GET1003</td>
          <td><a href="undergrad_mod_2.html#get1003">Home</a></td>
          <td>4</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Undergraduate</li>
      <li>Graduation Requirements</li>
    </ul>
  </div>
</div>