<div class="container">
  <h1>Undergraduate</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>Nihon Buyo Club</h2>
      <p>Founded in 1990, the club introduces NUS students to one aspect of Japanese performing art that combines choreography with music and costume. Instruction is given by Mrs Onogawa Jushohsuke, grandmaster of the Onogawa School of Japanese dance.  Sensei Onogawa Jushohsuke visits Singapore at least twice a year to teach Nihon Buyo Club NUS kabuki dances and festival dances.</p>
      <p>Members of the club have performed widely in cultural activities within and outside the University.  These performances include dancing for events such as the annual Japanese Cultural Festival organized by the Japanese Studies society NUS, International Student Night organized by NUSSU International Relations Committee, and performances for visiting Japanese high schools and universities in NUS.  The club also performs from time to time for private company functions and large-scale Japanese events outside of the university, such as the "Japan on 8" roadshow at Marina Square in late 2004 and "Memoirs of a Geisha" roadshow at Millenium Walk in January 2006.</p>
      <img src="/images/sado/buyo2.jpg" alt="" class="img-responsive center-block">
      <img src="/images/sado/buyo1.jpg" alt="" class="img-responsive center-block">
      <br>
      <p>Members of Nihon Buyo will not only learn about traditional Japanese Dance, but will also be taught basic Japanese etiquette and how to wear Japanese traditional kimono and yukata (summer kimono).  Nihon Buyo members also enjoy dance training in a serene and beautiful washitsu (tatami mat room), courtesy of the Japanese Studies Department.</p>
      <p>Amidst the hype about Japanese popular culture, the club strives to preserve the traditional elegance and grace that emanates from Buyo dance.  By mastering Nihon Buyo, one can not only learn the aesthetical value of traditional Japanese dance, but also gain discipline and self-achievement from the process.</p>
      <p>For more information, please visit our facebook <a href="https://www.facebook.com/nus.nihonbuyoclub">https://www.facebook.com/nus.nihonbuyoclub</a>.</p>
  </div>

</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Undergraduate</li>
      <li>Student Activities</li>
      <li>Nihon Buyo Club</li>
    </ul>
  </div>
</div>