<div class="container">
  <h1>Undergraduate</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>Sado Club</h2>
    <p>Sado, or commonly known as Japanese tea ceremony, is a traditional art which has been around for centuries. Here in the Japanese Studies Department, we offer the chance to learn the art of tea ceremony in our very own Sado Club.</p>
    <p>Practiced in the comfort of the Japanese-styled room in the Japanese Department, Sado teaches many virtues like discipline and humility. The ritualised form of serving tea, expressing "wakeiseijaku"-or mutual respect and thoughfulness-seeks to bring harmony among people and the surroundings. The essence of "Kirei Sabi" which is gracefulness and simplicity is also portrayed under the style of Enshu Sado which we learn.</p>
    <p>The grandmaster of the Enshu School of tea personally gives formal instruction to our club members and alumni every August. The club also has teachers from Japan who come down to teach thrice a year, and a teacher currently working in Singapore who teaches monthly. In addition to the above, there are also alumni members with the teaching certification who are active during alumni practice sessions twice a month.</p>
    <p>In 2015, the club celebrated the 25th anniversary of the Enshu School of tea in Singapore. This was marked with the screening of My Father the Grandmaster (父は家元), tea ceremony demonstrations and the serving of tea and sweets at the Ngee Ann Kongsi Auditorium in UTown and the Japan Creative Centre. Additionally, a tea ceremony demonstration and sharing session was conducted at Kranji Secondary School.</p>
    <img src="/images/sado/sado3.jpg" alt="" class="img-responsive center-block">
    <br>
    <p>Recent activities done by the club include workshops and introductory sessions for:</p>
    <ul>
      <li>NUS JS2230 Food In Japan Module Students</li>
      <li>Waseda Shibuya Senior High Tea Club</li>
      <li>NUS LAJ2202 Japanese Language Students</li>
      <li>NTU Japanese Appreciation Club</li>
      <li>Pioneer Junior College Tsuyu Club</li>
      <li>SIT Japanese Club</li>
      <li>Hwa Chong Junior College Japanese Club</li>
    </ul>
    <p>The club also had opportunities to perform for several product launches, such as the one for BVLGARI’s tea inspired fragrances.</p>
    <img src="/images/sado/sado4.jpg" alt="" class="img-responsive center-block">
    <br>
    <p>The club also regularly organises informal outings and activities to allow members to interact beyond the tea room, as well as appreciating Sado from a different perspective.</p>
    <img src="/images/sado/sado5.jpg" alt="" class="img-responsive center-block">
    <br>
    <p>For more information regarding the Sado Club, please visit our website at <a href="https://www.nussadoclub.org">https://www.nussadoclub.org</a>. Interested students can also head straight down to our room during our practice sessions for a direct experience.</p>
    <p>For opening hours, please refer to <a href="https://www.nussadoclub.org/practice-schedule/">here</a>.</p>
  </div>

</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Undergraduate</li>
      <li>Student Activities</li>
      <li>Sado Club</li>
    </ul>
  </div>
</div>