<div class="container">
  <h1>Undergraduate</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>Student Activities</h2>
    <p>There are currently 4 clubs and societies under the wing of our department. Our students actively take part in these co-curricular activities.</p>
    <ul>
      <li><a href="/undergraduate/jss.html">Japanese Studies Society</a></li>
      <li><a href="/undergraduate/sado.html">Sado Club</a></li>
      <li><a href="/undergraduate/nihon.html">Nihon Buyo Club</a></li>
      <li><a href="/undergraduate/j_music.html">J-Music Circle</a></li>
    </ul>
  </div>

</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Undergraduate</li>
      <li>Student Activities</li>
    </ul>
  </div>
</div>