<div class="container">
  <h1>People</h1>
  <p class="lead">Academic Staff</p>
  <hr>
  <div class="row">
    <div class="col-md-2">
      <img src="/images/staff/thang_leng_leng.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-md-10">
      <h2>Thang Leng Leng</h2>
      <p class="lead">Head of Department, Associate Professor</p>
      PhD Illinois, MA BA NUS<br>
      Japanese culture and society; Japanese anthropology; social gerontology <br>
      E-mail: jpstll@nus.edu.sg <br>
      Tel: 6516 6091
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-2">
      <img src="/images/staff/thang_leng_leng.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-md-10">
      <h2>Thang Leng Leng</h2>
      <p class="lead">Head of Department, Associate Professor</p>
      PhD Illinois, MA BA NUS<br>
      Japanese culture and society; Japanese anthropology; social gerontology <br>
      E-mail: jpstll@nus.edu.sg <br>
      Tel: 6516 6091
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-2">
      <img src="/images/staff/thang_leng_leng.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-md-10">
      <h2>Thang Leng Leng</h2>
      <p class="lead">Head of Department, Associate Professor</p>
      PhD Illinois, MA BA NUS<br>
      Japanese culture and society; Japanese anthropology; social gerontology <br>
      E-mail: jpstll@nus.edu.sg <br>
      Tel: 6516 6091
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-2">
      <img src="/images/staff/thang_leng_leng.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-md-10">
      <h2>Thang Leng Leng</h2>
      <p class="lead">Head of Department, Associate Professor</p>
      PhD Illinois, MA BA NUS<br>
      Japanese culture and society; Japanese anthropology; social gerontology <br>
      E-mail: jpstll@nus.edu.sg <br>
      Tel: 6516 6091
    </div>
  </div>
  <hr>
</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>People</li>
      <li>Academic Staff</li>
    </ul>
  </div>
</div>