<div class="container">
  <h1>People</h1>
  <p class="lead">Graduate Students</p>
  <hr>
  <div class="row">
    <div class="col-md-3">
      <img src="/docs/grad/Grad_Gao Ming.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-md-9">
      <h2>Gao Ming</h2>
      <p class="lead">Hygiene, Sanitation and Medicine in Manchuria</p>
      <p>Advisor: <a href="http://profile.nus.edu.sg/fass/jpsatd/">Associate Professor Timothy Amos</a></p>
      <p>Email: <a href="mailto:mgao@u.nus.edu">mgao@u.nus.edu</a></p>
      <hr>
      <p>Gao Ming graduated from Hankuk University of Foreign Studies in Seoul, Korea and Nagoya University in Nagoya, Japan before joining the Ph.D. program at NUS. Prior to moving to Singapore, he has lived, studied and worked in China, Korea, and Japan for many years. Gao Ming's research interests include Empire-building of Japan, colonial studies of East Asia and Manchurian (Manchukuo) studies in particular STDs and infectious diseases. Apart from that, he trained as a barista while living in Korea. His hobbies other than reading and traveling include theatergoing, movies, visiting bookstores and coffee shop exploration.</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-3">
      <img src="/docs/grad/Grad_Gao Yang.jpeg" alt="" class="img-responsive">
    </div>
    <div class="col-md-9">
      <h2>Gao Yang</h2>
      <p class="lead">Comparative studies of Japanese and Western theatre</p>
      <p>Advisor: <a href="hhttp://profile.nus.edu.sg/fass/jpslimbc/">Associate Professor Lim Beng Choo </a></p>
      <p>Email: <a href="mailto:a0129205@u.nus.edu">a0129205@u.nus.edu</a></p>
      <hr>
      <p>Gao Yang is a PhD student working on the comparative studies of Japanese and Western theatre. He received his two M.A. degrees in theatre studies from Communication University of China (Beijing, China) in 2009 and Waseda University (Tokyo, Japan) in 2014. His research interests focus on the comparative study of Western theatre and Japanese traditional theatre such as Noh and puppet theatre, especially in terms of acting, performing and directing theories. His PhD thesis is on Japanese and Western theatrical communication at the turn of the 20th Century.</p>
    </div>
  </div>
  <hr>
</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>People</li>
      <li>Academic Staff</li>
    </ul>
  </div>
</div>