<ul class="side-nav">
  <li><a href="../news_and_events/past_news.html">Past News</a></li>
  <li><a href="../news_and_events/conferences.html">Conferences</a></li>
  <li><a href="../news_and_events/seminars.html">Seminars</a></li>
</ul>