<div class="container">
  <h1>Research</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>Conferences and Workshops</h2>
    <p>The Japanese Studies academic community organises seminars and conferences on a national, regional and international scale.  The Department regularly highlights such upcoming events on this website.</p>
    <p>The department also organises <a href="/research/research_seminar.htm">departmental seminars</a> in the promotion of Japanese studies.</p>
    <hr>
    <p class="lead">Upcoming and Recent International/Regional/National Events</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Event Name</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">Contemporary Tradition - Japanese Performance Genre Today</a></td>
          <td>13-15 October 2016</td>
        </tr>
        <tr>
          <td><a href="#">International Workshop: Global HR and the Japanese Company</a></td>
          <td>22-23 September 2015</td>
        </tr>
        <tr>
          <td><a href="#">Public Symposium on 70 Years On: How to Manage Changing Power Relations in Asia?</a></td>
          <td>5 August 2015</td>
        </tr>
        <tr>
          <td><a href="#">Japanese Game Seminar and Workshop with Pros</a></td>
          <td>23-27 February 2015</td>
        </tr>
        <tr>
          <td><a href="#">Public Forum on Regional Architecture and Frameworks for Cooperation in the Asia-Pacific</a></td>
          <td>9 January 2015</td>
        </tr>
        <tr>
          <td>International Workshop on Regional Architecture and Frameworks for Cooperation in the Asia-Pacific</td>
          <td>8-9 January 2015</td>
        </tr>
      </tbody>
    </table>
    <p class="lead">Past Events</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Event Name</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">Public Symposium on Competition and Cooperation in the Asia-Pacific: Recognising Challenges, Seizing Opportunities</a></td>
          <td>19 November 2014</td>
        </tr>
        <tr>
          <td>Development and Utilization of Japanese Performing Arts Metadata</td>
          <td>21-22 July 2014</td>
        </tr>
        <tr>
          <td><a href="#">Japanese Anime and Video Game Workshop with Pros</a></td>
          <td>24-28 February 2014</td>
        </tr>
        <tr>
          <td><a href="#">Manga Festival in Singapore 2013</a></td>
          <td>7 November 2013</td>
        </tr>
        <tr>
          <td><a href="#">Drawing Manga “Japanese Style”  </a></td>
          <td>7 November 2013</td>
        </tr>
        <tr>
          <td><a href="#">Workshop on Japanese Language and Interaction </a></td>
          <td>6 -7 September 2013</td>
        </tr>
        <tr>
          <td><a href="#">Japanese History Research and Educational Training in Theory and Practice</a></td>
          <td>10-11 January 2013</td>
        </tr>
        <tr>
          <td><a href="#">Teaching Japanese Popular Culture Conference </a></td>
          <td>11-12 November 2012</td>
        </tr>
        <tr>
          <td><a href="#">Japanese Studies 30th Anniversary Symposium: "Sketching Japan: Diversity, Dynamics and Dilemmas"  </a></td>
          <td>28 October 2011</td>
        </tr>
        <tr>
          <td><a href="#">Workshop on Japanese Culture in Southeast Asia</a></td>
          <td>13-14 October 2011</td>
        </tr>
        <tr>
          <td><a href="#">Women's Manga Beyong Japan: Contemporary Comics as Cultural Crossroads in Asia </a></td>
          <td>21-23 February 2011</td>
        </tr>
        <tr>
          <td><a href="#">Death and Dying in Early Modern Japan Workshop</a></td>
          <td>25-26 September 2009</td>
        </tr>
        <tr>
          <td>Workshop on Spaces of Neo-Liberalism in the Asian Developmental States (jointly organized with Global Cities Research Cluster, FASS and Dr Bae-Gyoon Park, Seoul National University) </td>
          <td>15-16 November 2007</td>
        </tr>
        <tr>
          <td>1. Japanese Studies 25th Anniversary International Symposium
<br><a href="#">2. The Inaugural Conference of the Japanese Studies Association in Southeas Asia (JSA-ASEAN)</a></td>
          <td>12-14 October 2006</td>
        </tr>
        <tr>
          <td><a href="#">Alternate Generations in the Family: The Asian Perspective  </a></td>
          <td>20-22 October 2005</td>
        </tr>
        <tr>
          <td>Conference on Natural Disaster in Asian History, Culture and Memory (jointly organized with Asia Research Institute)</td>
          <td>26-28 August 2005</td>
        </tr>
        <tr>
          <td><a href="#">Workshop on Developing an On-Line Japanese Performing Arts Resource Center  </a></td>
          <td>24-26 June 2005</td>
        </tr>
        <tr>
          <td><a href="#">Globalization, Localization, and Japanese Studies in the Asian-Pacific Region</a></td>
          <td>28 - 30 October 2004</td>
        </tr>
        <tr>
          <td><a href="#">International Conference on Creating an East Asian Community: Prospects and Challenges for Fresh Regional Cooperation </a></td>
          <td>8 - 10 January 2004</td>
        </tr>
        <tr>
          <td><a href="#">Symposium on Japan Politics and Society</a></td>
          <td>16 January 2003</td>
        </tr>
        <tr>
          <td><a href="#">International Conference on Monuments and Memory-Making in Japan </a></td>
          <td>8 - 10 July 2002</td>
        </tr>
        <tr>
          <td><a href="#">International Conference for the 20th Anniversary of the Department</a></td>
          <td>5 - 6 October 2001</td>
        </tr>
        <tr>
          <td>
            <strong>Sixth Conference on Japanese Studies <br>
            Themes:</strong><br>
            1. Contemporary Japan-Southeast Asia International Relations<br>
            2. Japan and Southeast Asia in the Early Twentieth Century<br>
            3. Japanese Enterprises in Southeast Asia <br>
            4. Japanese Culture and Society in Southeast Asia
          </td>
          <td>1-2 October 1999</td>
        </tr>
        <tr>
          <td>
            <strong>Fifth Conference on Japanese Studies</strong><br>
            Confucian Currents in Japan and East Asia: 17th to 19th Centuries<br><br>
            <strong>Themes:</strong><br>
            1. Adaptation of Chinese Confucian Doctrines to the Japanese Society and Political system<br>
            2. Inter-school Rivalries<br>
            3. New Trends in Philosophical and Historical Methodology<br>
            4. Confucianism and Japanese Nationalism
          </td>
          <td>5-7 December 1997</td>
        </tr>
        <tr>
          <td>
            <strong>Fourth Conference on Japanese Studies</strong><br>
            The following workshops were held over a two-year period.<br><br>
            <strong>Themes:</strong><br>
            1. Shiga Naoya's A Dark Night's Passing<br>
            2. Singapore-Japan Relations <br>
            3. Language Text-book Writing<br>
            4. Kanji Education<br>
            5. Japanese Perspective on Asian Religions: The Ethnographic Approach
          </td>
          <td>December 1994 - March 1996</td>
        </tr>
        <tr>
          <td>
            <strong>Third Conference on Japanese Studies</strong><br>
            <strong>Themes:</strong><br>
            1. Teaching Japanese in the Singapore Environment <br>
            2. Haiku Workshop <br>
            3. Workshop on Kagoshima Identity <br>
            4. Public policy Implementation in Japan
          </td>
          <td>24-28 October 1993</td>
        </tr>
        <tr>
          <td>
            <strong>Second Conference on Japanese Studies<br>
            Themes:</strong><br>
            1. Perspectives on Kokoro <br>
            2. Language Materials Development<br>
            3. Japan ASEAN Relations
          </td>
          <td>29 Apr - 3 May 1991</td>
        </tr>
        <tr>
          <td>
            <strong>First Conference on Japanese Studies<br>
            Themes:</strong><br>
            1. Trends in the development of Japanese Studies in ASEAN<br>
            2. Teaching Japanese as a Second Language <br>
            3. Kyushu Regional History
          </td>
          <td>6-10 November 1989</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>News & Events</li>
      <li>Conferences</li>
    </ul>
  </div>
</div>