<div class="container">
  <h1>Past News</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>Coming Soon...</h2>
    <p>Watch this space!</p>
  </div>

</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>News & Events</li>
      <li>Past News</li>
    </ul>
  </div>
</div>