<div class="container">
  <h1>Research</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>Departmental Seminars</h2>
    <p>The department has taken an active role in the promotion of Japanese studies. It has organised academic and intellectual encounters on the local as well as international scales, which have led to the production of a number of departmental publications.</p>
    <hr>
    <p class="lead">Seminar Series 2017</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Topic</th>
          <th>Speaker</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="/docs/sem-2017Mar3.pdf">Robots & Men: The Ambiguous Border of Life in Japanese Manga </a></td>
          <td>Prof Yukari Fujimoto  </td>
          <td>3 March 2017</td>
        </tr>
        <tr>
          <td><a href="/docs/sem-2017Feb17.pdf">Zainichi Koreans: History and Present </a></td>
          <td>Dr Hyewon Song  </td>
          <td>17 February 2017</td>
        </tr>
        <tr>
          <td><a href="/docs/sem-2017Feb3.pdf">Understanding Karaoke Classrooms and Kissas as Everyday Ageing Practice in Urban Japan</a></td>
          <td>Mr Benny Tong </td>
          <td>3 February 2017</td>
        </tr>
        <tr>
          <td><a href="/docs/sem-2017Feb2.pdf">Kyōiku-ijū (Education Migration): Affluent Japanese Families’ Transnational Education Strategies in Johor Bahru, Malaysia</a><br>(Joint seminar with FASS Migration Research Cluster)</td>
          <td>Dr Hiroki Igarashi</td>
          <td>2 February 2017</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h2>Past Departmental Seminars</h2>
    <p class="lead">Departmental Seminars</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Topic</th>
          <th>Speaker</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="/docs/sem-2016Nov17.pdf">Between Exigencies and Trauma: The Evolution of Japanese Immigration Policy</a></td>
          <td>Dr Ayako Komine</td>
          <td>17 November 2016</td>
        </tr>
        <tr>
          <td><a href="/docs/sem-2016Nov14.pdf">Reexamining the Curious Convergence between Shinzo Abe and Norihiro Kato over the Reconstitution of Japan as a Subject of History in 1990s</a></td>
          <td>Dr Hitomi Koyama  </td>
          <td>14 November 2016</td>
        </tr>
        <tr>
          <td><a href="/docs/sem-2016Nov11.pdf">Globalization, the State, and Foreign Labor Policy in Japan and Taiwan</a></td>
          <td>Dr Konrad Kalicki </td>
          <td>11 November 2016</td>
        </tr>
        <tr>
          <td><a href="/docs/sem-2016Oct25.pdf">The Concept of "Hedging" Revisited: Case of Japan's Foreign Policy Strategy in East Asia's Power Shift  </a></td>
          <td>Dr Kei Koga </td>
          <td>25 October 2016</td>
        </tr>
        <tr>
          <td><a href="/docs/sem-2016Oct5.pdf">Japan and Geo-Economic Regionalism in Asia: The Rise of TPP and AIIB</a></td>
          <td>Prof Takashi Terada </td>
          <td>5 October 2016</td>
        </tr>
        <tr>
          <td><a href="/docs/sem-9Sep2016.pdf">Women's Empowerment and Changes in Japanese-Style Management</a></td>
          <td>A/P Tomoko Komagawa </td>
          <td>9 September 2016</td>
        </tr>
        <tr>
          <td><a href="/docs/sem_2016Aug21.jpg">The Quest for Horzontality  </a></td>
          <td>Prof Michael Lucken </td>
          <td>21 August 2016</td>
        </tr>
        <tr>
          <td><a href="/docs/01April2016.pdf">Tada no nomikai desu”…ka? Negotiations of transgender belonging in contemporary Japan </a></td>
          <td>Miss YUEN Shu Min </td>
          <td>1 April 2016</td>
        <tr>
        <tr>
          <td><a href="/docs/sem-29Mar2016.pdf">The Financialization of the Gift?: Japan's Debt as an Anthropological Problem</a></td>
          <td>Prof Hirokazu Miyazaki  </td>
          <td>29 March 2016</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/15Feb2016.pdf">Issues and Policies on Health and Welfare Services for the Elderly in Japan</a></td>
          <td>A/P Motoyuki Yuasa  </td>
          <td>15 February 2016</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/12February2016.pdf">Victory through Good Governance: Home Ministry Bureaucrats in Wartime Singapore</a></td>
          <td>Mr Clay Eaton </td>
          <td>12 February 2016</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/12Jan2016%20-%20Japanese%20Community%20Engagement%20Workshop.pdf">Japanese Community Engagement Workshop: The Otagaisama (Reciprocal) Community Tool</a></td>
          <td>
            Prof Takeo Ogawa,<br>
            Miss Kimiyo Sasaki,<br>
            Mr Shintaro Minami,<br>
            Miss Naoko Haraguchi,<br>
            Mr Yutaka Yamauichi
          </td>
          <td>12 January 2016</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/2Oct2015%20-%20HiddenLegacyPoster.jpg">“An Evening with Hidden Legacy: Japanese Traditional Performing Arts in the World War II Internment Camps”  </a></td>
          <td>Screen Documentary  </td>
          <td>2 October 2015</td>
        </tr>
        <tr>
          <td><a href="/docs/florian_kohlbacher.pdf">Fear of Solitary Death and its Impact Factors in Japan's Aging Society</a></td>
          <td>A/P Florian Kohlbacher  </td>
          <td>23 September 2015</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/Kawashima22Sept2015.html">Public Lecture "Sino-Japanese Relations: The Past and the Present</a></td>
          <td>Professor Shin Kawashima  </td>
          <td>22 September 2015</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/KanKimura5Sept2015.html">Public Lecture "Mechanism and Histories of 'Historical Disputes' between Japan and South Korea" </a></td>
          <td>Professor Kan Kimura  </td>
          <td>8 Sept 2015</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/sympo2015.html">Public Symposium 70 Years On: How to Manage Changing Power Relations in Asia?</a></td>
          <td></td>
          <td>5 August 2015</td>
        </tr>
        <tr>
          <td><a href="http://www.ari.nus.edu.sg/events_categorydetails.asp?categoryid=8&eventid=1653">Seminar Talk: Rethinking Resistance: Takeuchi Yoshimi's Lu Xun and the Conundrums of Asian Modernity by Dr Viren Murthy</a></td>
          <td>Dr Viren Murthy</td>
          <td>2 June 2015</td>
        </tr>
        <tr>
          <td><a href="/docs/Sem-23March2015.pdf">In Search of Lost Worlds: Meiji and Taishō Period</a></td>
          <td>Assoc Prof Melek Ortabasi </td>
          <td>23 March 2015</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/taniguchi30oct.html">Public Lecture Series by Distinguished Guest Speakers from Japan : Japanese Foreign Policy Under Abe</a></td>
          <td>Prof Tomohiko Taniguchi</td>
          <td>30 October 2014</td>
        </tr>
        <tr>
          <td><a href="/docs/Sem-%205Sept2014.pdf">Seminar Talk by Professor Kiichi Fujiwara, on "The State of Asian Democracies"</a></td>
          <td>Prof Kiichi Fujiwara  </td>
          <td>5 September 2014</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/fujiwara3sep.html">Public Lecture Series by Distinguished Guest Speakers from Japan: Japan's Foreign Policy: From Yoshida to Abe</a></td>
          <td>Prof Kiichi Fujiwara</td>
          <td>3 September 2014</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/migration/newsevents/e_hafu_screen.html">HAFU - The Film. Screening and Panel Discussion</a></td>
          <td>
            Lara Perez Takagi<br>
            Dr Timothy Amos<br>
            A/P Thang Leng Leng<br>
            Dr Elaine Ho<br>
            Fiona Seiger
          </td>
          <td>14 August 2013</td>
        </tr>
        <tr>
          <td><a href="/docs/Sem-13-8-2013.pdf">Transnational Adaptations of Japanese Noh: Three Case Studies</a></td>
          <td>A/P Ayako Kano</td>
          <td>13 August 2013</td>
        </tr>
        <tr>
          <td><a href="/docs/Sem-16-04-2013.pdf">After the Tsunami: Post-Disaster Community Recovery in an Ageing and Shrinking Region</a></td>
          <td>Dr Peter Matanle</td>
          <td>16 April 2013</td>
        </tr>
        <tr>
          <td><a href="/docs/Sem-19-3-2013.pdf">What's Left for the Right? Right-wing Activism in Japan and Politics of Futility</a></td>
          <td>Dr Nathaniel Michael Smith</td>
          <td>19 March 2013</td>
        </tr>
        <tr>
          <td><a href="/docs/Sem-12-3-2013.pdf"> Bad Water: The Political Ecology of Snow Brand Dairy</a></td>
          <td>Dr Robert Stolz</td>
          <td>12 March 2013</td>
        </tr>
        <tr>
          <td><a href="/docs/Sem-5-3-2013.pdf">Japan's New Deal for Asia, 1943-1945</a></td>
          <td>Dr Jeremy A. Yellen</td>
          <td>5 March 2013</td>
        </tr>
        <tr>
          <td><a href="/docs/Sem%20-%2029Ocotber2012.pdf">From Muromachi Nô to Mizoguchi Film: Permutations of the Sanshô Dayû Legend</a></td>
          <td>Prof Susan Matisoff</td>
          <td>29 October 2012</td>
        </tr>
        <tr>
          <td><a href="/docs/sem-24-8-2012.pdf">Digital Revolution in the Study of Japanese Art and Culture</a></td>
          <td>Prof Ryo Akama</td>
          <td>24 August 2012</td>
        </tr>
        <tr>
          <td><a href="/docs/sem-14-3-2012.pdf">Kabuki Workshop</a></td>
          <td></td>
          <td>14 March 2012</td>
        </tr>
        <tr>
          <td><a href="http://www.ari.nus.edu.sg/events_categorydetails.asp?categoryid=8&eventid=1263">Japanese Cities in Chinese Perspective: Towards A Contextual, Regional Approach to Comparative Urbanism </a>(Joint seminar with ARI)</td>
          <td>Dr Paul Waley</td>
          <td>13 March 2012</td>
        </tr>
        <tr>
          <td><a href="http://www.ari.nus.edu.sg/events_categorydetails.asp?categoryid=36&eventid=1264">Family Care for the Elderly in a Changing Japan </a>(Joint seminar with ARI and FASS Health Research Cluster)</td>
          <td>Prof Ruth Campbell</td>
          <td>7 March 2012</td>
        </tr>
        <tr>
          <td><a href="/docs/sem-5-3-2012.pdf">At Your Konbini: Small Stores, Large Chains, and Livelihood in Contemporary Japan</a></td>
          <td>A/P Gavin Hamilton Whitelaw</td>
          <td>5 March 2012</td>
        </tr>
        <tr>
          <td><a href="/docs/sem-27-2-2012.pdf">Old-Age Policy and Long Term Care in Japan: Structures and Cases </a>(Joint seminar with FASS Health Research Cluster)</td>
          <td>Prof John Campbell & Prof Ruth Campbell</td>
          <td>27 February 2012</td>
        </tr>
        <tr>
          <td><a href="http://blog.nus.edu.sg/fasrda/2011/10/13/seminar-on-japans-shrinking-regions-in-the-21st-century-contemporary-responses-to-depopulation-and-socioeconomic-decline-by-dr-peter-matanle/">Japan's Shrinking Regions in the 21st Century: Contemporary Responses to Depopulation and Socioeconomic Decline </a>(Joint seminar with FASS Cities Research Cluster)</td>
          <td>Dr Peter Matanle</td>
          <td>22 November 2011</td>
        </tr>
        <tr>
          <td><a href="/docs/talk-10-11-2011.pdf">Special Talk by MIKIMOTO Haruhiko (manga artist) & KOBAYASHI Hideaki (Kadokawa Publishing)</a></td>
          <td></td>
          <td>10 November 2011</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-8-8-2011.htm">Toward Glocal Popular Visual Culture Studies  </a></td>
          <td>Dr Yuko Kikuchi </td>
          <td>8 August 2011</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-3-5-2011.htm">The Silver Market Phenomenon in Japan Implications of Demographic Change on Business and Marketing in the World's Most Aged Society</a></td>
          <td>Dr Florian Kohlbacher</td>
          <td>3 May 2011</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-27-4-2011.htm">Moving with "No Place to Go": Gendered Job (Im)Mobility in Japan  </a></td>
          <td>Dr Chris McMorran </td>
          <td>27 April 2011</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-25-4-2011.htm">The Rose of Versailles and the History of Shōjo Manga (Girls' Comics) in Japan</a></td>
          <td>Dr Deborah Shamoon</td>
          <td>25 April 2011</td>
        </tr>
        <tr>
          <td><a href="/docs/sem-4-3-2011.pdf">Japan's Immigrant Integration Policy in the Age of Globalization</a>(Joint seminar with FASS Migration Research Cluster)</td>
          <td>Prof Yamawaki Keizo </td>
          <td>4 March 2011</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-2-3-2011.htm">Murakami Inc.: A Bourdieusian Inquiry into the Transnational Fiction of Murakami Haruki</a></td>
          <td>Ms Alona Gueverra</td>
          <td>2 March 2011</td>
        </tr>
        <tr>
          <td>Postwar Japan and “Asia” in Popular Culture</td>
          <td>Dr Leo Ching Tsushin  </td>
          <td>27 January 2011</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-8-10-2010.htm">Perceptions of Otaku in the Global Marketplace </a>(Joint Seminar with Minor in Cultural Studies)</td>
          <td>A/P Carolyn Stevens</td>
          <td>8 October 2010</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-27-9-2010.htm">Disability in Japan</a></td>
          <td>A/P Carolyn Stevens</td>
          <td>27 September 2010</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-30-8-2010.htm">Outdoing Cool Japan: Culture and Administration in the Age of Brand Nationalism </a>(Joint Seminar with Minor in Cultural Studies)</td>
          <td>Prof Koichi Iwabuchi</td>
          <td>30 August 2010</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-13-8-2010.htm">ベトナム史料における象の位相と享保十三年渡来象について (Images of Elephants in Vietnamese Historical Sources: The 1728 Arrival of Pachyderms in Japan)</a></td>
          <td>A/P Phan Hai Linh</td>
          <td>13 August 2010</td>
        </tr>
        <tr>
          <td><a href="/docs/sem-9-4-2010.pdf">Research & Development Afternoon  </a></td>
          <td>Faculty, Graduate and Honours students  </td>
          <td>9 April 2010</td>
        </tr>
        <tr>
          <td><a href="/docs/sem-7-8-2009.pdf">Rebuilding Shuri Castle: Japanese Colonialism and Cultural Heritage Preservation  </a></td>
          <td>Dr Tze M. Loo </td>
          <td>12 February 2010</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/cities/newsevents/e_tetsuo_mizukami.html">The Singaporean Characteristics of a Japanese Community in Global-City State </a>(joint seminar with FASS Cities Research Cluster)</td>
          <td>Prof Tetsuo Mizukami  </td>
          <td>13 January 2010</td>
        </tr>
        <tr>
          <td>Noh Lecture & Demonstration</td>
          <td>Kanze Noh School  </td>
          <td>7 January 2010</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-14-9-2009.htm">New Stage of Migration in Japan: Globization of Care Work </a></td>
          <td>Dr Reiko Ogawa  </td>
          <td>14 September 2009</td>
        </tr>
        <tr>
          <td><a href="/docs/sem-7-8-2009.pdf">Calibrating Bodies and Cognition through Interactive Practice in a Meaningful Environment</a></td>
          <td>Dr Charles Goodwin</td>
          <td>7 August 2009</td>
        </tr>
        <tr>
          <td><a href="/docs/sem-7-8-2009.pdf">Constructing Inequality Among Peers</a></td>
          <td>Dr Marjorie H. Goodwin</td>
          <td>7 August 2009</td>
        </tr>
        <tr>
          <td><a href="/docs/sem-17-4-2009.pdf">Research & Development Afternoon  </a></td>
          <td>Faculty, Graduate and Honours students  </td>
          <td>17 April 2009</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-16-1-2009.htm">Work, Money and Drinking: The Friendship Networks of Women Managers in Contemporary Japan </a></td>
          <td>Ms Ho Swee Lin  </td>
          <td>16 January 2009</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-31-10-2008.htm">Sexual Harassment Comes of Age? Studies on Working Women and College Students in Japan  </a></td>
          <td>Dr Chika Shinohara</td>
          <td>31 October 2008</td>
        </tr>
        <tr>
          <td><a href="/docs/noh_lecture.pdf">Noh Lecture & Demonstration </a></td>
          <td>Mr Sakae Terai</td>
          <td>25 September 2008</td>
        </tr>
        <tr>
          <td><a href="/docs/sem-12-9-2008.pdf">Sukaaretto-sama, arigatoogozeemasu-da: The Linguistic Inferiorization of Black Slaves and Poor Whites in the Japanese Translation of Gone with the Wind</a>(Joint seminar with Dept of English Languge & Literature)</td>
          <td>Dr Mie Hiramoto</td>
          <td>12 September 2008</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-22-8-2008.htm">Traces of the Gods: Writing and Hirata Atsutane's Imagining of the “Illustrious Imperial Land”  </a></td>
          <td>Dr Scot Hislop</td>
          <td>22 August 2008</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-15-8-2008.htm">Some Aspects of Sartre's Reception among Post-war Japanese Intellectuals  </a></td>
          <td>Dr Simone Müller - Zurich University</td>
          <td>15 August 2008</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-18-4-2008.htm">Ownership Strategies for Japanese Manufacturing Companies in China  </a></td>
          <td>Mr Alexandar Wollenberg - PhD candidate</td>
          <td>18 April 2008</td>
        </tr>
        <tr>
          <td>Japanese National Identity in the Imperial Period (Joint seminar with Dept of Geography)</td>
          <td>A/P Masato Mori - Mie University</td>
          <td>28 March 2008</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-18-2-2008.htm">Walking to Liberty in Osaka : State, Community, and Burakumin in Contemporary Japan </a></td>
          <td>Dr Timothy Amos</td>
          <td>18 February 2008</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-15-2-2008.htm">Explaining Japanese Policy Responses to the U.S. War on Terrorism: Realism, Neoliberalism and Constructivism  </a></td>
          <td>Dr Ryoko Nakano - Nanzan University</td>
          <td>15 February 2008</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-1-2-2008.htm">The Politics of Non-Recognition: Fissures, Frictions, and Ainu Indigeneity in Contemporary Japan </a></td>
          <td>Dr Ann-Elise Lewallen - Hokkaido University</td>
          <td>1 February 2008</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-25-1-2008.htm">Institutionalizing Imaged Toyama: Selling Traditional Images of Toyama Medicine through Science</a></td>
          <td>Dr Kensuke Sumii - UC Berkeley</td>
          <td>25 January 2008</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-18-1-2008.htm">Better Must Come: Exiting Homelessness in Tokyo and Los Angeles </a></td>
          <td>Dr Matthew Marr - Reischauer Institute of Japanese Studies</td>
          <td>18 January 2008</td>
        </tr>
        <tr>
          <td>Home Alone: The Individualization of Young, Urban Japanese Singles (Joint seminar with Global Cities Research Cluster, FASS)  </td>
          <td>Dr Richard Ronald </td>
          <td>27 November 2007</td>
        </tr>
        <tr>
          <td>Japanese Technological Culture (Joint seminar with Science, Technology & Society Cluster, FASS)</td>
          <td>Dr Morris Low - University of Queensland  </td>
          <td>22 November 2007</td>
        </tr>
        <tr>
          <td>The Aging Okama Body in Isshin Inudo's Maison de Himiko </td>
          <td>Dr Romit Dasgupta </td>
          <td>16 November 2007</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-2-11-2007.htm">Women and Tourism in Japan </a></td>
          <td>Ms Mari Shimamura </td>
          <td>2 November 2007</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-26-10-2007.htm">The Impact of Prior Entries on the Foreign Investment Decision of Japanese Multinational Electronics Firms </a></td>
          <td>Dr Mário Henrique Ogasavara </td>
          <td>26 October 2007</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-19-10-2007.htm">The Ambiguous Position of Nikkei Brazilian Workers in Japan</a></td>
          <td>Dr Regina Yoshie Matsue </td>
          <td>19 October 2007</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-12-10-2007.htm">Singapore's Collective Memories of the Second World War: A Comparison with Japan </a></td>
          <td>Mr Yosuke Watanabe  </td>
          <td>12 October 2007</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-5-10-2007.htm">Rethinking ‘Dôka' (Assimilation) in the Japanese Colonial Empire: On Experiences of Okinawan Migrants in Colonial Taiwan </a></td>
          <td>Dr Hiroko Matsuda </td>
          <td>5 October 2007</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-21-9-2007.htm">Salarymen Masculinity: The Continuity of and Change in the Hegemonic Masculinity in Japan across Three Generations </a></td>
          <td>Dr Tomoko Hidaka  </td>
          <td>21 September 2007</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-14-9-2007.htm">He? She? It? Shingo-mama and Drag Performances </a></td>
          <td>Ms Yuen Shu Min </td>
          <td>14 September 2007</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-7-9-2007.htm">How the Modern Subject Dances into Sight: Mori Ôgai's Maihime </a></td>
          <td>Dr Scot Hislop  </td>
          <td>7 September 2007</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-31-8-2007.htm">Outcastes and Medical Practices in Tokugawa Japan </a></td>
          <td>Dr Timothy Amos </td>
          <td>31 August 2007</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-14-5-2007.htm">Reputation and Reassurance in International Politics: The Case of Japan in East Asia </a></td>
          <td>A/P Paul Midford - Norwegian University for Science and Technology  </td>
          <td>17 August 2007</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-7-8-2007.htm">From Ginza to Shanghai: The Modern Girl in East Asia </a></td>
          <td>Prof Vera MacKie - University of Melbourne  </td>
          <td>7 August 2007</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-26-7-2007.htm">Japan's Maritime Security Strategy </a></td>
          <td>A/P Yoichiro Sato - Asia-Pacific Center for Security Studies  </td>
          <td>26 July 2007</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-14-5-2007.htm">Uauthorized Romances: Internet Yaoi Fan Fiction</a></td>
          <td>Ms Tan Bee Kee - MA Candidate </td>
          <td>14 May 2007</td>
        </tr>
        <tr>
          <td>Japanese Dialect Contact and Change in Hawai'i: The Case of Tôhoku Dialect </td>
          <td>Dr Mie Hiramoto - University of Arizona </td>
          <td>4 October 2006</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-22-9-2006.htm">Examining the Japanese Particle Ne: A Study of its Use in Conversational Interaction </a></td>
          <td>Dr Emi Morita - Dept of Japanese Studies, NUS </td>
          <td>22 September 2006</td>
        </tr>
        <tr>
          <td><a href="/docs/sem-31-3-2006.doc">Promoting Learner Autonomy in Language Classrooms</a> (Joint seminar with Centre for Language Studies) </td>
          <td>Assoc Prof Chihiro Kinoshita Thomson - University of New South Wales  </td>
          <td>31 March 2006</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-20-3-2006.htm">"Romantic Virus": 'Auntie Fans' of South Korean Actors in Japan</a></td>
          <td>Ms Mari Shimamura - Independent writer/author </td>
          <td>20 March 2006</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-29-11-2005.htm">Project Management Practices in Japan: An Analysis of Project Managers' Characteristics and Perceptions</a></td>
          <td>Ms Lim Yin Chum Yvonne - MA Candidate </td>
          <td>29 November 2005</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-31-8-2005.htm">Working with Hegemonic Masculinity: Work, Marriage, Fatherhood and the “Salaryman” in Japan</a></td>
          <td>Dr Romit Dasgupta - Asian Studies, University Western Australia </td>
          <td>31 August 2005</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-22-8-2005.htm">Japan's Role in Sustainable Development in the Philippines: Rhetoric and Realities of Japanese Economic Assistance</a></td>
          <td>Mr Sasuya John Wilfred Maligsay - MA Candidate  </td>
          <td>22 August 2005</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-15-4-2005.htm">Nissan: Translating Language, Transforming Culture </a></td>
          <td>Dr Fiona Graham - Visiting Fellow </td>
          <td>15 April 2005</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-8-4-2005.htm">Fantastic Elements in the Process of Healing: A Study of Yoshimoto Banana's Writings</a></td>
          <td>Ms Wang Hongyu Connie - MA Candidate  </td>
          <td>8 April 2005</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-6-4-2005.htm">Contemporary Funeral Industry in Japan and Family Changes </a></td>
          <td>Dr Hikari Suzuki - Singapore Management University</td>
          <td>6 April 2005</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-1-10-2004.htm">Political Opportunity and the Enactment of Japan's 'New' Privacy Law </a></td>
          <td>Mr Tan Ban Chong, Joseph - MA Candidate </td>
          <td>1 October 2004</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-20-8-2004.htm">An Exploratory Study of Computer-Mediated Social Support Among Single Mothers in Japan</a></td>
          <td>Ms Soong Lai Yee, Juliana - MA Candidate</td>
          <td>20 August 2004</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-24-2-2004.htm">Gender and Sexuality on Television Dramas: Japan and Brazil </a></td>
          <td>Dr Mauro Neves Junior - Visiting Scholar, Sophia University </td>
          <td>24 February 2004</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-20-2-2004.htm">A Study on the Error of Additional /No/ by Singaporean Secondary School Students</a></td>
          <td>Mr Tan Chyn Ngian - MA Candidate</td>
          <td>20 February 2004</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-13-2-2004.htm">Memory, Mirrors and Missing Women: Metafictive Narrative Strategies and the Doppelganger Motif in the Fictions of Abe Kb and Murakami Haruki </a></td>
          <td>Mr Baryon Tensor Posadas - MA Candidate  </td>
          <td>13 February 2004</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-6-8-2003.htm">The Portrayal of Islam and Muslims in Japanese News: A Content Analysis of Asahi Shimbuns Coverage of the September 11 Terrorist Attacks</a></td>
          <td>Mr Tan Chee Kuan - MA Candidate  </td>
          <td>6 August 2003</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-17-4-2003.htm">Centers of Excellence: The Localization of Sogo Shosha in China </a></td>
          <td>Ms Zheng Yu - MA Candidate</td>
          <td>17 April 2003</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-11-4-2003.htm">Comic Art During the Japanese Occupation of the Philippines</a></td>
          <td>Mr Karl Ian Uy Cheng Chua - MA Candidate  </td>
          <td>11 April 2003</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-13-11-2002.htm">Globalisation, International Labour Migration in Contemporary Japan, and the Language Barrier: The International Relations of Interpreting Justice </a></td>
          <td>Mr Tomonori Taki - PhD candidate, Department of Politics and International Studies, University of Warwick</td>
          <td>13 November 2002</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-11-11-2002.htm">Reframing Japanese Citizens' Movements: From Accusation to Proposal</a></td>
          <td>Mr Simon Avenell - PhD candidate, Department of History, University of California, Berkeley  </td>
          <td>11 November 2002</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-6-11-2002.htm">Tokyo in Global Economy: Economic Restructuring, Urban Policy, and Strategic Planning </a></td>
          <td>Mr Asato Saito - PhD candidate, Department of Geography and Environment, London School of Economics and Political Science</td>
          <td>6 November 2002</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-1-11-2002.htm">Everyone's Festival? Democratization and Control in Koto's Gion Matsuri</a></td>
          <td>Dr Christoph Brumann - Department of Ethnology, University of Cologne</td>
          <td>1 November 2002</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-23-9-2002.htm">A Tentative Study on Restructuring of Everyday Social Orders: Japan, Vietnam and Singapore </a></td>
          <td>Prof Kazutaka Hashimoto - Kanto Gakuin University</td>
          <td>23 September 2002</td>
        </tr>
        <tr>
          <td><a href="http://www.fas.nus.edu.sg/jps/research/seminars/sem-11-3-2002.htm">A Middle Class without an Upper Class in Japan </a></td>
          <td>Prof Hidehiro Sonoda - International Research Centre for Japanese Studies</td>
          <td>11 March 2002</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>News & Events</li>
      <li>Seminars</li>
    </ul>
  </div>
</div>