<ul>
  <li><a href="/research/research_projects.html">Research Projects</a></li>
  <li><a href="/research/publications.html">Publications</a></li>
  <li>Events
    <ul>
      <li><a href="/research/conferences.html">Conferences</a></li>
      <li><a href="/research/seminars.html">Seminars</a></li>
    </ul>
  </li>
  <li><a href="/research/graduate_research.html">Graduate Research</a></li>
  <li><a href="/research/jsa_asean.html">JSA-ASEAN</a></li>
</ul>