<div class="container">
  <h1>Contact Us</h1>
  <hr>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7976262163506!2d103.77015571447683!3d1.2960391990547295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1af934c149cb%3A0x819f608479e82897!2s10+Kent+Ridge+Cres%2C+Singapore+119260!5e0!3m2!1sen!2ssg!4v1486802693702" width="500" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div class="col-md-6">
    <p>We welcome any enquiries that you may have, so feel free to get in touch through any of the following channels:</p>
    <ul>
      <li>send an email to us <a href="mailto:jpshelp@nus.edu.sg">here</a></li>
      <li>call us at (65) 6516 3728</li>
      <li>send us a fax at (65) 6776 1409</li>
      <li>come down to our department office at: <br><strong>Block AS8 Level 5, 10 Kent Ridge Crescent, Singapore 119260</strong></li>
    </ul>
  </div>
</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Contact Us</li>
    </ul>
  </div>
</div>