<!-- START BASIC HOMEPAGE -->
<div class="nus-banner">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>

		<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active item1">
					<div class="carousel-caption">
						<h3>About the Department of Japanese Studies</h3>
						<p>
							The Department was founded in 1981 and is one of the largest area studies departments devoted to the study of Japan in the Asia-Pacific region.
						</p>
					</div>
				</div>

				<div class="item item2">
					<div class="carousel-caption">
						<h3>Research and Teaching</h3>
						<p>
							The Department faculty have research and teaching expertise in socio-linguistics, business management, sociology, anthropology, history, literature and literary theory, manga and anime studies, gender studies, traditional performance, cultural geography, and tourism studies.
						</p>
					</div>
				</div>
				<div class="item item3">
					<div class="carousel-caption">
						<h3>Japan Experience</h3>
						<p>
							Students can experience Japan in diverse ways, including studying in Japan on short- or long-term exchange, interning in Japan-related organizations and companies in Singapore, and interacting with visitors from Japan. We also offer scholarships to study in Japan.
						</p>
					</div>
				</div>
			</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>

<div class="container">
		<h1 class="featurette-heading">Department of Japanese Studies</h1>
		<p class="lead">Faculty of Arts and Social Sciences</p>
		<a href="https://www.facebook.com/NUSDepartmentofJapaneseStudies"><img src="/images/a_stock_images/jsbutton1.jpg" alt=""></a>
		<a href="/research/research_jsaa.html"><img src="/images/a_stock_images/jsbutton2.jpg" alt=""></a>
		<a href="/japanatnus.html"><img src="/images/a_stock_images/jsbutton3.jpg" alt=""></a>
		<h1>News & Events</h1>
		<ul>
			<li><a href="#">Seminar Series 2017</a></li>
			<li><a href="#">Department of Japanese Studies Celebrates 35th Anniversary!</a></li>
			<li><a href="#">Contemporary Tradition - Japanese Performance Genre Today (13-15 October 2016)</a></li>
			<li><a href="#">25th Anniversary of Enshu Sado School at NUS</a></li>
			<li><a href="#">Public Symposium 70 Years On: How to Manage Changing Power Relations in Asia?</a></li>
			<li><a href="#">Shizuoka Homestay Program Experience by JS Alumni, Ms Elly Chia</a></li>
			<li><a href="#">Japanese Studies 30th Anniversary</a></li>
			<li><a href="#">Congratulations to Jennifer Ding for Achieving Jun-shihan Certification in Enshu Sado</a></li>
			<li><a href="#">JS Alumni won Japanese Speech Contest 2011 (Open Category)</a></li>
			<li><a href="#">Success of Donation Drive by Japanese Studies Students for the Earthquake and Tsunami Victims</a></li>
			<li><a href="#">Donation Drive by Japanese Studies Students for the Earthquake and Tsunami Victims</a></li>
			<li><a href="#">Japanese Tea Ceremony with the NUS President</a></li>
			<li><a href="#">Talk at Nanyang Girls' High School</a></li>
		</ul>
</div>
<hr>
  <!-- START BASIC HOMEPAGE -->


  <!-- NUS BREADCRUMBS - START -->
  <div class="nus-breadcrumbs">
    <div class="container">
      <ul>
        <li><span class="icon faicon fa-location"></span><a href="index.html">Home</a></li>
      </ul>
    </div>
  </div>
  <!-- NUS BREADCRUMBS - END -->