<ul class="side-nav">
  <li><a href="../people/academic_staff.html">Academic Staff</a></li>
  <li><a href="../people/non_academic_staff.html">Non-academic Staff</a></li>
  <li><a href="../people/graduate_students.html">Graduate Students</a></li>
  <li><a href="../people/visiting_scholars.html">Visiting Scholars</a></li>
  <li><a href="../people/alumni.html">Alumni</a></li>
</ul>