<div class="container">
  <h1>People</h1>
  <p class="lead">Academic Staff</p>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-2">
        <img src="/images/staff/thang_leng_leng.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-md-10">
        <h2>Thang Leng Leng</h2>
        <p class="lead">Head of Department, Associate Professor</p>
        PhD Illinois, MA BA NUS<br>
        Japanese culture and society; Japanese anthropology; social gerontology <br>
        E-mail: jpstll@nus.edu.sg <br>
        Tel: 6516 6091
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2">
        <img src="/images/staff/lim_beng_choo.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-md-10">
        <h2>Lim Beng Choo</h2>
        <p class="lead">Deputy Head, Associate Professor</p>
        PhD MA Cornell, MA BA NUS<br>
        Premodern Japanese literature, concentrating on noh; contemporary Japanese performing arts and film<br>
        E-mail: jpslimbc@nus.edu.sg<br>
        Tel: 6516 5012
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2">
        <img src="/images/staff/timothy_amos.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-md-10">
        <h2>Timothy David Amos</h2>
        <p class="lead">Associate Professor</p>
        PhD ANU, MA Tohoku, MEd Akita, BAHons Griffith<br>
        Early modern/modern Japanese social history; Japanese intellectual history; minority issues; Burakumin<br>
        E-mail: jpsatd@nus.edu.sg <br>
        Tel: 6516 6089
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2">
        <img src="/images/staff/scot_hislop.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-md-10">
        <h2>Scot Hislop</h2>
        <p class="lead">Lecturer</p>
        PhD MA Cornell, BA Stanford<br>
        Japanese poetics and literary theories; premodern Japanese history, focusing on Edo period<br>
        E-mail: jpssah@nus.edu.sg<br>
        Tel: 6516 1449
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2">
        <img src="/images/staff/chris_mcmorran.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-md-10">
        <h2>Chris McMorran</h2>
        <p class="lead">Senior Lecturer</p>
        PhD MA Colorado, BA Central College<br>
        Social and cultural geography, marginalization, gendered labor, tourism in Japan, environment-society relations<br>
        E-mail: jpscmm@nus.edu.sg<br>
        Tel: 6516 5575
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2">
        <img src="/images/staff/hendrik_meyer_ohle.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-md-10">
        <h2>Hendrik Carl Meyer-Ohle</h2>
        <p class="lead">Associate Professor</p>
        PhD MA Marburg<br>
        Japanese management especially marketing and distribution<br>
        E-mail: jpsmohc@nus.edu.sg <br>
        Tel: 6516 8942
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2">
        <img src="/images/staff/emi_morita.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-md-10">
        <h2>Emi Morita</h2>
        <p class="lead">Associate Professor</p>
        PhD UCLA, MA Syracuse, BA Dokkyo<br>
        Japanese discourse analysis, pragmatics, socio-linguistics functional linguistics and conversation analysis<br>
        E-mail: jpsme@nus.edu.sg<br>
        Tel: 6516 6641
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2">
        <img src="/images/staff/deborah_shamoon.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-md-10">
        <h2>Deborah Shamoon</h2>
        <p class="lead">Associate Professor</p>
        PhD UC Berkeley, MA Washington, BA Michigan<br>
        Modern Japanese literature, film, and popular culture; manga and anime; gender studies<br>
        E-mail: dshamoon@nus.edu.sg<br>
        Tel: 6516 8943
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-10">
        <h2>Yuen Shu Min</h2>
        <p class="lead">Senior Tutor (On Leave)</p>
        PhD Melbourne, MA BA NUS<br>
        Email: jpsyuen@nus.edu.sg
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-10">
        <h2>Itsuko Tanaka</h2>
        <p class="lead">Teaching Assistant</p>
        MA Monash, BA Keio<br>
        E-mail: jpsil@nus.edu.sg <br>
        Tel: 6516 3820
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2">
        <img src="/images/staff/elizabeth_maclachlan.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-md-10">
        <h2>Elizabeth MacLachlan</h2>
        <p class="lead">Adjunct Assistant Professor</p>
        PhD MPhil MA Columbia, BA Cornell<br>
        Japanese mass media and corporate anthropology; Okinawan culture<br>
        E-mail: jpsmenm@nus.edu.sg
      </div>
    </div>
  </div>
</div>
<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>People</li>
      <li>Academic Staff</li>
    </ul>
  </div>
</div>