<div class="container">
  <h1>People</h1>
  <p class="lead">Alumni</p>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h1>Japanese Studies Alumni Group Committee (2016-2018)</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Position</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Chairperson</td>
          <td>Eddie Tay</td>
        </tr>
        <tr>
          <td>Vice Chairperson</td>
          <td>Kennard Xu</td>
        </tr>
        <tr>
          <td>Secretary</td>
          <td>Ku Ka Leung</td>
        </tr>
        <tr>
          <td>Treasurer</td>
          <td>Jade Shen</td>
        </tr>
        <tr>
          <td>Head of Publicity</td>
          <td>Yao Huijin</td>
        </tr>
        <tr>
          <td>Head of Liaison</td>
          <td>Karen Ang</td>
        </tr>
      </tbody>
    </table>
    <p>Email us at <a href="mailto:NusJapaneseStudiesAlumni@gmail.com">NusJapaneseStudiesAlumni@gmail.com</a></p>
    <p>If you are an alumnus, please connect with us by joining our Facebook group. Click on <a href="https://www.facebook.com/groups/nusjsalumni/">https://www.facebook.com/groups/nusjsalumni/</a> or search "NUS Japanese Studies Alumni".</p>
    <hr>
    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#activities" aria-controls="activities" role="tab" data-toggle="tab">Alumni Activities</a></li>
        <li role="presentation"><a href="#stories" aria-controls="stories" role="tab" data-toggle="tab">Alumni Stories</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="activities">
          <h1>Alumni Activities</h1>
          <div class="well">
            <h3>Visit to Exhibition at Former Ford Factory, 19 March 2017</h3>
            <p>A group of alumni visited the "Surviving the Japanese Occupation: War and its Legacies" gallery at the Former Ford Factory on 19 March 2017, organised by the alumni association.</p>
          </div>
          <div class="well">
            <h3>JS Career Café Chat, 3 December 2016</h3>
            <p>The alumni association organised the inaugural JS Career Café Chat held on 3 December 2016 at Plaza Singapura's Starbucks to encourage alumni and graduating students to discuss their career aspirations and concerns in a casual setting. </p>
          </div>
          <div class="well">
            <h3>NUS Department of Japanese Studies – Celebrating 35 Years of Academic Excellence and Alumni Relations, 5 November 2016</h3>
            <p>Following the AGM, the new committee, together with the Department, organized the Department’s 35th anniversary celebration party held at the NUSS Guild House, Suntec City, on 5 November 2016. More than 60 faculty, staff and alumni members attended the event. Head of Department, Associate Professor Thang Leng Leng, gave the opening address. Attendees enjoyed themselves over food, drinks and games. They were also treated to a presentation on Kagoshima by the Kagoshima Prefectural Government's ASEAN Regional Director, Mr. Kennard Xu, who is also the Vice-President of the alumni association. </p>
          </div>
          <div class="well">
            <h3>Alumni Homecoming and Japanese Studies Alumni Association's Annual General Meeting (AGM), 18 June 2016</h3>
            <p>The nostalgic gathering saw a great turnout of alumni spanning three decades. Staff and alumni gathered for one last time at the Department’s meeting room located at AS4 before the it moved to its new premises at AS8. At the AGM, the alumni association,  previously helmed by Ms. Chwen Sia, formed a new committee led by Mr. Eddie Tay.</p>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="stories">
          <h1>Alumni Stories</h1>
          <div class="well">
            <h3>Carolyn Pang, Class of 2006 (B.A. Hons) and Class of 2010 (M.A.)</h3>
            <em>Ph.D. candidate, Columbia University & Research Associate at Bukkyo University, Kyoto</em>
            <br><br>
            <p>“My days in JS were filled with adventures of all kinds. I participated in the summer language and study exchange programs where I interacted in Japanese with international students and dived into various cultural activities such as tea ceremony, ikebana, and kimono dressing. I learnt shamisen and how to survive earthquakes and typhoons, binged on food at matsuri festivals, visited many Shinto shrines and Buddhist temples, climbed Mount Fuji, cheered at sumo tournaments and baseball matches, and fell in love with noh performances and Japanese gagaku court music. You can say that my continued fascination with the diversity and complexities of Japanese culture throughout this past decade was nurtured by my JS experience. I am currently in Japan doing my dissertation research on the Izanagi-ryū, a folk religion that is still practiced in contemporary Kōchi, Shikoku. Some friends thought I was insane to be moving to a rural mountainous locale with limited public transport access, but my fieldwork allows me the invaluable opportunity to interact with local communities and to conduct first-hand observations and recording of important ritual performances, most of which are dying out due to the lack of ritual practitioners and rapid depopulation of the region.”</p>
          </div>
          <div class="well">
            <h3>Xu Yuan Shao Kennard, Class of 2008</h3>
            <em>ASEAN Regional Director, Kagoshima Prefectural Government</em>
            <br><br>
            <p>“Growing up with Japanese pop culture has helped me to cultivate interest and passion in Japan. Understanding that having passion for the subject is key to surviving university, I chose JS as my major, where I had the opportunity to participate in the three exchange studies to Western Japan. Interacting with Japanese people and other foreigners has helped me broaden my horizon and become well-connected in a globalised world. I worked in the Kagoshima Prefectural Government for five years before returning to Singapore in 2016. Since then I have set up my own business here. I am also appointed as the ASEAN Regional Director of the Kagoshima Prefectural Government, helping them to promote Kagoshima in Southeast Asia. My work stint thus far has been fully related to Japan and it is definitely due to my education background as a JS major. I feel that the relatively deeper understanding of Japan puts JS majors at an advantage over learners of Japanese language, especially when it comes to working in a Japanese environment.”</p>
          </div>
          <div class="well">
            <h3>Clarence Lee, Class of 2010</h3>
            <em>PhD Candidate, Cornell University</em>
            <br><br>
            <p>“I am currently completing my PhD dissertation on Mid-Tokugawa philosophy/medicine/literature. Japanese studies provided me with a different lens to view the world around us. It made me more conscious of all the presumptions and structures with which we approach our everyday lives with. Being a JS major was definitely an eye-opening experience. Hanging out with my honours batch after classes were definitely the most cherished memories I have of my days in JS; we had so much fun either in the library (pretending to be nerdy) or simply having meals at The Deck. Thankfully, I am still able to enjoy their wonderful friendship even now, even as each of us move towards different goals in life.”</p>
          </div>
          <div class="well">
            <h3>Deng Weizhong, Class of 2009</h3>
            <em>Photographer</em>
            <br><br>
            <p>“Majoring in Japanese Studies was an easy decision for me as I have always been interested in the Japanese language since young, especially in phonology and linguistics. My secondary school did not offer a third language during my time, so it felt only natural to follow my passion when I entered university! After graduation, I worked as a freelance interpreter and translator for 2 years. However, thereafter I decided to take a different path and started my own photography business. Although it is not directly related to Japan, my understanding of the Japanese culture and language has definitely given me the advantage over competitors when it comes to dealing with Japanese clients. In particular, my background proved advantageous when I was recently invited by the Kagoshima Prefectural Government for a major photography assignment to produce works for their travel-related promotional and marketing material.”</p>
          </div>
          <div class="well">
            <h3>Tong Teck Guan, Class of 2006</h3>
            <em>Assistant Language Teacher (ALT) on the JET programme</em>
            <br><br>
            <p>“I grew up reading translated Japanese manga and playing console games like Nintendo, Sega Genesis etc. As I grew older, I became interested in the Japanese language. So when I entered NUS, I saw an opportunity to pursue my understanding of Japan and her language. I went to Waseda University on a 1 year exchange during my time in NUS and did a one-year homestay with Usui-san and his lovely family. To this day, I remember my host family's kindness and my Otosan's smile as we sat around the dinner table, chatting and having dinner together. Wanting to experience life in Japan more, I finally joined the JET programme after teaching Economics in a local Junior College for a few years. I am currently in my 3rd year on the JET programme in Kumamoto City.”</p>
          </div>
          <div class="well">
            <h3>Maimunah Binte Nokman, Class of 2014</h3>
            <em>Marketing Executive, Amuse Entertainment Singapore</em>
            <br><br>
            <p>“I am currently a Marketing Executive for Amuse Entertainment Singapore, an overseas subsidiary of the Amuse Group in Japan. I started out as a consumer of Japanese pop culture and now, I am part of it by arranging media interviews, organizing concerts and fan meetings for my artistes when they come to Singapore and the region. I never thought I would be able to put all the Japanese variety shows, live comedy shows and drama I analysed for my final paper to be put to use and it really helps me to engage both my artistes and audience. My fondest memory of being a JS major was definitely the time I spent in Yamagata. I went for student exchange at a prefecture so ulu, even my Japanese friends have not been there! I got to learn about the northern dialect and even do manzai for the first time! I am grateful to my professors in JS who encouraged me to take up this amazing opportunity.”</p>
          </div>
          <div class="well">
            <h3>Elysia Toh Yiling, Class of 2007</h3>
            <em>Senior Project Manager of a Marketing Research / Computer Software company</em>
            <br><br>
            <p>“I was interested in Japanese pop culture and language during my pre-university years, so it was a natural decision to major in Japanese Studies when I entered NUS. My most memorable experience as a JS major was my one-year exchange at Waseda University from 2005 to 2006. It was surreal to be living in my favourite city which I have only known from Japanese dramas, so much that I even enjoyed the daily commuting with the peak hour crowds! After graduation, I worked with a Japanese organisation in Singapore for 3 years as a coordinator between Japanese and South East Asian local government officers, which really puts my JS experience to practical use, acting. Since 2010, I moved to Tokyo so as to relive and deepen my experiences from where I left in my year of student exchange. I'm also in the process of achieving my dream of travelling to all 47 prefectures!”</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="../index.html">Home</a></li>
      <li>People</li>
      <li>Alumni</li>
    </ul>
  </div>
</div>