<div class="container">
  <h1>People</h1>
  <p class="lead">Graduate Students</p>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-3">
        <img src="/docs/grad/Grad_Gao Ming.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-md-9">
        <h2>Gao Ming</h2>
        <p class="lead">Hygiene, Sanitation and Medicine in Manchuria</p>
        <p>Advisor: <a href="http://profile.nus.edu.sg/fass/jpsatd/">Associate Professor Timothy Amos</a></p>
        <p>Email: <a href="mailto:mgao@u.nus.edu">mgao@u.nus.edu</a></p>
        <hr>
        <p>Gao Ming graduated from Hankuk University of Foreign Studies in Seoul, Korea and Nagoya University in Nagoya, Japan before joining the Ph.D. program at NUS. Prior to moving to Singapore, he has lived, studied and worked in China, Korea, and Japan for many years. Gao Ming's research interests include Empire-building of Japan, colonial studies of East Asia and Manchurian (Manchukuo) studies in particular STDs and infectious diseases. Apart from that, he trained as a barista while living in Korea. His hobbies other than reading and traveling include theatergoing, movies, visiting bookstores and coffee shop exploration.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3">
        <img src="/docs/grad/Grad_Gao Yang.jpeg" alt="" class="img-responsive">
      </div>
      <div class="col-md-9">
        <h2>Gao Yang</h2>
        <p class="lead">Comparative studies of Japanese and Western theatre</p>
        <p>Advisor: <a href="http://profile.nus.edu.sg/fass/jpslimbc/">Associate Professor Lim Beng Choo </a></p>
        <p>Email: <a href="mailto:a0129205@u.nus.edu">a0129205@u.nus.edu</a></p>
        <hr>
        <p>Gao Yang is a PhD student working on the comparative studies of Japanese and Western theatre. He received his two M.A. degrees in theatre studies from Communication University of China (Beijing, China) in 2009 and Waseda University (Tokyo, Japan) in 2014. His research interests focus on the comparative study of Western theatre and Japanese traditional theatre such as Noh and puppet theatre, especially in terms of acting, performing and directing theories. His PhD thesis is on Japanese and Western theatrical communication at the turn of the 20th Century.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3">
        <img src="/docs/grad/Grad_Ku Ka Leung.jpeg" alt="" class="img-responsive">
      </div>
      <div class="col-md-9">
        <h2>Ku Ka Leung</h2>
        <p class="lead">Disaster governance in Japan</p>
        <p>Advisor: <a href="http://profile.nus.edu.sg/fass/jpsatd/">Associate Professor Timothy Amos </a></p>
        <p>Email: <a href="mailto:E0009039@u.nus.edu">E0009039@u.nus.edu</a></p>
        <hr>
        <p>Ka Leung received his B.A. (Hons) from National University of Singapore (NUS) in 2009. After working as a reinsurance broker in Singapore for 5 years, he returned to NUS as a M.A. candidate in 2015. His current research interest is the history of disaster governance in Japan, focusing on how communities in Japan reconstruct themselves in the aftermath of large-scale disaster events. </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3">
        <img src="/docs/grad/Grad_Eve LOH Kazuhara.png" alt="" class="img-responsive">
      </div>
      <div class="col-md-9">
        <h2>Eve Loh Kazuhara</h2>
        <p class="lead">Japanese Art History, History of Nihonga</p>
        <p>Advisor: <a href="http://profile.nus.edu.sg/fass/jpslimbc/">Associate Professor Lim Beng Choo </a></p>
        <p>Email: <a href="mailto:eveloh@hotmail.com">eveloh@hotmail.com</a></p>
        <hr>
        <p>Eve is a part-time MA student. She received her BA (Hons Class I) in Art History and Theory from the University of Sydney, Australia. She is currently working as Manager of Content at the National Gallery Singapore. Her interests are in Japanese art history, Nihonga (Japanese-style painting) and painting history from the Meiji period onwards. She is passionate about Nihonga and hopes to introduce this to a wider audience. She is currently writing her thesis: Taisho Nihonga Art Collectives.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3">
        <img src="/docs/grad/Grad_Amethy Zihui Lu.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-md-9">
        <h2>Amethy Zihui Lu</h2>
        <p class="lead">Contemporary Japanese theater, post-war Japanese films, and Noh theater</p>
        <p>Advisor: <a href="http://profile.nus.edu.sg/fass/jpslimbc/">Associate Professor Lim Beng Choo </a></p>
        <p>Email: <a href="mailto:E0008688@u.nus.edu">E0008688@u.nus.edu</a></p>
        <hr>
        <p>Amethy is a PhD candidate in contemporary Japanese theater. She received her B.A. in English Language and Literature from Soochow University, China, and her M.A. in Asia Pacific Studies from University of San Francisco. After her M.A. she worked one year as an editor for Encyclopedia Britannica before coming to NUS. Her M.A. thesis focused on Noh theater and its influences on post-war Japanese films. Building on that, she wants to examine the interactions among different genres of popular contemporary Japanese visual entertainments, and the mixed genre/transmedia discourse in contemporary Japanese theater, focusing especially on the 2.5D theater.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3">
        <img src="/docs/grad/Grad_Maria Tana.jpeg" alt="" class="img-responsive">
      </div>
      <div class="col-md-9">
        <h2>Maria Thaemar Tana</h2>
        <p class="lead">International relations and her research interests include regional security, non-traditional security, and Japan-Southeast Asia relations</p>
        <p>Advisor: <a href="http://profile.nus.edu.sg/fass/jpslimbc/">Associate Professor Lim Beng Choo </a></p>
        <p>Email: <a href="mailto:mctana@u.nus.edu">mctana@u.nus.edu</a></p>
        <hr>
        <p>Maria is a PhD candidate working on International Relations. Her dissertation focuses on Japan’s foreign policy on human security. Prior to joining NUS, she was a full-time lecturer at the International Studies Department in De La Salle University, Manila, where she also received her master’s degree in International Studies. Maria has successfully passed her QE and will be heading out to do her fieldwork in Japan in spring 2016.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3">
        <img src="/docs/grad/Grad_Normalis Amzah.jpeg" alt="" class="img-responsive">
      </div>
      <div class="col-md-9">
        <h2>Normalis Amzah</h2>
        <p>Advisor: <a href="https://courses.nus.edu.sg/course/jpsmohc/">Associate Professor Meyer-Ohle, Hendrik</a></p>
        <p>Email: <a href="mailto:A0080152@nus.edu.sg">A0080152@nus.edu.sg</a></p>
        <hr>
        <p>Normalis is a doctoral student in Japanese marketing. She received her degree in Business Administration from Nagoya University and her Master of Arts studying Japanese business literature from University of Science, Malaysia. She used to work as a translator in Japanese companies and broadcasting industry before becoming Japanese language instructor in National University of Malaysia and pursuing her PhD. Her doctoral research explores the marketing strategies, language and images of Japanese company advertisements focusing on environmental issues. By examining Japanese company’s environmental communication to the public, she hopes to understand how environmental issue is conceptualized and represented to the public in order to maximize profit and not merely about protecting the environment.</p>
      </div>
    </div>
    <hr>
  </div>
</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>People</li>
      <li>Graduate Students</li>
    </ul>
  </div>
</div>