<div class="container">
  <h1>People</h1>
  <p class="lead">Non-Academic Staff</p>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9 people-list">
    <div class="row">
      <div class="col-md-2">
        <img src="../images/staff/lee_bee_ling.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-md-10">
        <h2>Ms Lee Bee Ling</h2>
        <p class="lead">Manager</p>
        E-mail: jpsleebl@nus.edu.sg <br>
        Tel: 6516 8905
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2">
        <img src="../images/staff/irene_ng.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-md-10">
        <h2>Ms Irene Ng Lai Leng</h2>
        <p class="lead">Secretary</p>
        E-mail: jpssec@nus.edu.sg <br>
        Tel: 6516 3818
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2">
        <img src="../images/staff/joy_chua_hwee_eng.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-md-10">
        <h2>Ms Joy Chua Hwee Eng</h2>
        <p class="lead">Management Assistant Officer</p>
        E-mail: jpsche@nus.edu.sg <br>
        Tel: 6516 3728
      </div>
    </div>
  </div>
</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="../index.html">Home</a></li>
      <li>People</li>
      <li>Non-Academic Staff</li>
    </ul>
  </div>
</div>