<div class="container">
  <h1>People</h1>
  <p class="lead">Non-Academic Staff</p>
  <hr>
  <table class="table">
    <thead>
      <th>Position</th>
      <th>Name</th>
      <th>Email</th>
      <th>Tel</th>
    </thead>
    <tbody>
      <tr>
        <td>Manager</td>
        <td>Ms Lee Bee Ling</td>
        <td>jpsleebl@nus.edu.sg</td>
        <td>6516 8905</td>
      </tr>
      <tr>
        <td>Secretary</td>
        <td>Ms Irene Ng Lai Leng</td>
        <td>jpssec@nus.edu.sg</td>
        <td>6516 3818</td>
      </tr>
      <tr>
        <td>Management Assistant Officer</td>
        <td>Ms Joy Chua Hwee Eng</td>
        <td>jpsche@nus.edu.sg</td>
        <td>6516 3728</td>
      </tr>
    </tbody>
  </table>
</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>People</li>
      <li>Non-Academic Staff</li>
    </ul>
  </div>
</div>