<div class="container">
  <h1>People</h1>
  <p class="lead">Visiting Scholars</p>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9 people-list">
    <div class="row">
      <div class="col-md-3">
        <img src="#" alt="" class="img-responsive">
      </div>
      <div class="col-md-9">
        <h2>A Visiting Scholar</h2>
        <p class="lead">Byline here</p>
        <p>info: <a href="#">A link</a></p>
        <p>Email: <a href="#">an email</a></p>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis sint totam vel laborum quidem voluptatum quaerat quam labore? Illum tempore, amet in tenetur neque ab veniam obcaecati. Ullam nisi, corrupti.</p>
      </div>
    </div>
    <hr>
  </div>
</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="../index.html">Home</a></li>
      <li>People</li>
      <li>Visiting Scholars</li>
    </ul>
  </div>
</div>