<div class="container">
  <h1>Undergraduate</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>Graduation Requirements</h2>
    <p>Check the graduation requirements for your cohort:</p>
    <div class="well">
      <ul>
        <li><a href="#2016andafter">Cohort 2016 and after</a></li>
        <li><a href="#">Cohort 2012 to 2015</a></li>
        <li><a href="#">Cohort 2010 to 2011</a></li>
        <br>
        <li><a href="#">Second Major (for Cohort 2016 and after)</a></li>
        <li><a href="#">Second Major (for Cohort 2010 to 2015)</a></li>
        <br>
        <li><a href="#">Minor (for Cohort 2006 and after)</a></li>
      </ul>
    </div>
    <hr>
    <h1 id="2016andafter">Cohort 2016 and after</h1>
  </div>

</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Undergraduate</li>
      <li>Graduation Requirements</li>
    </ul>
  </div>
</div>