<div class="container">
  <h1>Undergraduate</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>Japanese Studies Society</h2>
    <p>The Japanese Studies Society (JSS) of NUS was first set up in 1984 with the aim to promote the understanding and appreciation of Japanese culture within NUS.  Throughout the years, JSS has grown to become the most recognized body in NUS that is associated with Japanese culture-related activities.  Together with the 3 other Japanese culture clubs, namely Sado (Japanese Tea Ceremony), Buyo (Japanese Traditional Dance) and JMC (Japanese Music Circle), we form the Japanese Cultural Alliance (JCA) with the common aim of introducing and promoting Japanese culture beyond the common understanding amongst the NUS student body.</p>
    <p>We have an annual homestay exchange program with our counterpart in Kyushu University, whereby our members will get a chance to experience a short stint in Kyushu/Fukuoka, hosted by the local university students there.  Members also get a chance to host Japanese students when they come over for a homestay, and spend an exciting fun-filled week with them during their stay.  Besides these, we also orchestrate the various Japanese student visits to NUS, whereby you get to interact with them directly and build new friendships!  Other activities include bazaars, workshops, outings, gatherings...the list just goes on!</p>
    <p>For more information, please visit our official website (with many more features coming soon!) @ <a href="https://jss.sg/">https://jss.sg/</a>.  If you would like to find out more about JSS and its activities, or if you would like to find out more about Japanese culture, please direct your email to <a href="mailto:contact@jss.sg">contact@jss.sg</a>.</p>
    <p>Looking forward to enjoy Japanese culture with you!</p>
  </div>

</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Undergraduate</li>
      <li>Student Activities</li>
      <li>Japanese Studies Society</li>
    </ul>
  </div>
</div>