<div class="container">
  <h1>Undergraduate</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>Module Information</h2>
    <p>The Department offers Level 1000 - 4000 modules for our undergraduate students. Clicking the links below will bring you to the respective sections.</p>
    <ul>
      <li><a href="#">JS Level 1000 modules</a></li>
      <li><a href="#">JS Level 2000 modules</a></li>
      <li><a href="#">JS Level 3000 modules</a></li>
      <li><a href="#">JS Level 4000 modules</a></li>
      <li><a href="#">General Education Modules (Cohort 2014 and before)</a></li>
      <li><a href="#">General Education Modules (Cohort 2015 and after)</a></li>
    </ul>
  </div>

</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Undergraduate</li>
      <li>Graduation Requirements</li>
    </ul>
  </div>
</div>