<div class="container">
  <h1>Undergraduate</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>Graduation Requirements</h2>
    <p>Here are some of the scholarships and awards our students have been awarded. Click the links below to see the recent recipients of each scholarship or award.</p>
    <ul>
      <li><a href="#">Heiwa Nakajima Foundation Scholarship</a></li>
      <li><a href="#">Hiroshima Singapore Association (HSA) & Mihara International Academy of Languages (MIAL) Scholarship</a></li>
      <li><a href="#">JCCI Singapore Foundation Gold Medal</a></li>
      <li><a href="#">JCCI Singapore Foundation Scholarship</a></li>
      <li><a href="#">Mitsui Cultural Scholarship</a></li>
      <li><a href="#">Mitsui Chemicals Medal and Prize</a></li>
      <li><a href="#">NUS-Kyushu Student Exchange Scholarship</a></li>
    </ul>
  </div>

</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Undergraduate</li>
      <li>Graduation Requirements</li>
    </ul>
  </div>
</div>