<ul class="side-nav">
  <li><a href="../about/overview.html">Overview</a></li>
  <li><a href="../about/history.html">Our History</a></li>
  <li><a href="../about/contact.html">Contact Us</a></li>
</ul>