

  <div class="container-fluid" id="contact-bg">
    <div class="col-md-12" id="contact-header">
      <h1>Department of Japanese Studies<br>Faculty of Arts and Social Sciences<br>National University of Singapore</h2>
      <p class="lead">Block AS8, Level 5<br>10 Kent Ridge Crescent<br>Singapore 119260</p>
    </div>
  </div>
<div class="container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7976262163506!2d103.77015571447683!3d1.2960391990547295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1af934c149cb%3A0x819f608479e82897!2s10+Kent+Ridge+Cres%2C+Singapore+119260!5e0!3m2!1sen!2ssg!4v1486802693702" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<div class="container">
  <div class="nus-featured-articles">
    <div class="row clearfix">
      <div class="col-md-4 col-sm-6">
        <h2>Telephone</h2>
        <div>(65) 6516-3728<br>
          (General Enquiries)<br>
          <br>
          Fax:<br>
          (65) 6776 1409</div>
          <br />
        </div>
        <div class="col-md-4 col-sm-6">
          <h2>Email</h2>
          <div>
            <a href="mailto:jpshelp@nus.edu.sg">jpshelp@nus.edu.sg</a><br>
          </div>
          <br />
        </div>
        <div class="col-md-4 col-sm-6">
          <h2>Office Hours</h2>
          <div>
            Mon - Thu:  8.30am - 6.00pm<br>
            Fri:  8.30am - 5.30pm<br>
            Closed 1:00 - 2:00pm for lunch.<br>
            <br>
            Closed on Saturdays, Sundays and public holidays.<br>
          </div>
          <br />
        </div>
      </div>
    </div>
</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>About</li>
      <li>Contact Us</li>
    </ul>
  </div>
</div>