<div class="container">
  <h1>Our History</h1>
  <hr>
  <p>
    history info goes here
  </p>
</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>About</li>
      <li>History</li>
    </ul>
  </div>
</div>