<div class="container">
  <h1>About Us</h1>
  <hr>

  <div class="col-md-3">
  <%- include _sidenav %>
  </div>

  <div class="col-md-9">
    <h2>Our History</h2>
    <hr>

    <h4>The origins</h4>
    <p>The establishment of a Department of Japanese Studies at the National University of Singapore (NUS) was first considered by the then Singapore Prime Minister Lee Kuan Yew in 1979 during a meeting with his Japanese counterpart, Prime Minister Ohira Masayoshi. The proposal grew out of a wider initiative among Singapore's leadership at the time to "Learn from Japan'' in recognition of Japan's status as Asia's first "economic superpower." The Department took shape two years later with funding from the Japan Foundation. In May 1981, Professor Kumekawa Mitsuki of Ferris Women's College in Yokohama was appointed as its acting head. </p>

    <h4>The 1980s: The initial decade </h4>
    <p>During these early years, the Japanese Studies curriculum placed strong emphasis on Japanese language acquisition through module offerings in basic and intensive language training. Non-language modules on culture, society, history, politics, and literature rounded-off students' Japanese Studies education with readings and coursework on Japan itself. Student enrolment during this decade increased rapidly from 54 students in 1981/82 to 220 students in 1985/86 and 455 students in 1989/90. Staff numbers also increased from 4 in 1981 to 20 (including 6 teaching assistants) in 1989/90, out of which 12 were involved in language teaching. By 1990, the Japanese Resources Collection housed in the Central Library of NUS had increased its holdings to over 18,000 books in Japanese, and was subscribing to 150 periodicals and several major Japanese newspapers. The students who graduated from the Department largely took up jobs in Japan-related companies and organizations which were seeking employees with Japanese language skills and knowledge on Japan. </p>

    <h4>The 1990s </h4>
    <p>Japan’s relevance as a model for nation-building waned with the onset of the "post-bubble” economic recession. This took some toll on the Department, with student enrolment initially dropping in the early 1990s. However, student numbers remained steady from that point forward, averaging more than 500 per year. A wave in interest in Japanese popular culture around the late-1990s drew additional students to the Department and led to the development of the first module on the topic to match this new interest. Eventually, a major change in university curriculum requiring students to take modules outside their own disciplines led to a surge in enrolment to nearly 1500 students in 1999/2000. </p>

    <h4>The 2000s</h4>
    <p>The 2000s began with a major restructuring of the Department, with the Japanese language section of the Department being transferred to the Centre for Language Studies (CLS) in July 2001. However, despite offering only non-language modules, the Department continued to attract large student numbers, especially non-major students looking to fulfil their elective and general education requirements with Japanese Studies modules. Throughout the decade, annual enrolment in modules offered by the Department averaged more than 1500 undergraduates. With more emphasis on graduate education in NUS, the number of masters and doctoral students also saw an increase from the late 1990s. Having only 2 MA students in 1995, the Department had currently 11 MA and 3 PhD students by the mid-2000s. This increase paralleled a rise in the number of PhD holders among the Department's teaching staff. In 1995/96, only 4 out of the 7 non-language teaching staff had Ph.D.s, but by 2005/06, all 12 of the non-language teaching staff were Ph.D. holders. This trend continues today, with all faculty members Ph.D. holders. </p>

    <h4>The 2010s</h4>
    <p>The 2010s have seen NUS recognised as Asia’s top university and the Department move to a new home in AS8 (2016). The Department has continued to enjoy strong student enrolments despite significant curriculum changes that have affected the requirements for majors and minors. Despite such changes, the Department continues to draw a hard-working and intellectually gifted core of majors and minors, and Japanese Studies modules continue to attract students from across the University looking to satisfy various requirements, as well as their own curiosity. The Department also continues to attract a healthy number of Ph.D. and M.A. students and welcomes inquiries from interested students.</p>

    <p>The Department continues to cater to students interested in Japanese history, religion, art, philosophy, literature, society, politics, and business, based on the recognition that there is a continuing demand in Singapore for people holding expertise in these areas. At the same time, the Department has recognized that for many students the motivation to concentrate their studies on Japan has changed. Today, many Japanese Studies majors find themselves in the Department out of an interest in anime, manga, Japanese dramas, Japanese food, and even Japanese fashion. These students, the result of the globalization of Japan's popular culture industries, brings to the Department new opportunities and challenges in teaching Japanese Studies.</p>

    <p>From an initial focus on language training, the attention of the Department has broadened significantly. The Department will continue to adapt itself to changing demands from students, changes in curriculum structure, and the larger economic, social and political environment. Firm in its belief that the study of Japan will continue to stay relevant, the Department actively promotes the importance of Japanese Studies to students in order to maintain a healthy student body and to attract and retain young and promising Japan specialists.</p>

    <p>Into the 21st century, the Department of Japanese Studies, as the only institution devoted to Japanese Studies in Singapore, remains committed to advancing the field of Japanese Studies both domestically and globally.</p>

    <h4>Student activities: a brief history</h4>
    <p>In December 1988, a culture room in traditional Japanese style was constructed with funding from the Japan Foundation. The room was replaced by a new Tea House and performance space in the newly-built AS8 in 2017. These rooms provide a space for students to practice a range of Japanese traditional arts as extracurricular activities. These activities are made possible through generous support from traditional arts masters, many of whom regularly travel from Japan to guide and inspire students. Current offerings include nihon buyo (Japanese dance, the Onogawa school) and sado (tea ceremony, the Enshu school). During the 1980s and into the early 1990s, students also received instruction in ikebana (flower arrangement) and koto (string instrument). The Department has also long supported programs initiated by students, such as shogi (Japanese chess), the J-pop Music Circle (formerly Japanese Karaoke Club), and the Japanese Studies Society.</p>

    <h4>A history of Department support</h4>
    <p>Since its establishment, funding from Japanese organizations has played a major role in facilitating the development of the Department. Thanks to funding from Japan Foundation grants, the Mitsui Cultural Scholarship, the JCCI (Japanese Chamber of Commerce and Industry, Singapore) Foundation Scholarship, the Okinawa government scholarship, the Japan Securities Scholarship Foundation, and the Japanese Government Ministry of Education, Culture, Sports, Science and Technology (Monbukagakusho Scholarships), the Department of Japanese Studies has been able to send students to Japan on courses ranging from summer programs to one term exchange and one year study abroad programs. The Department is also indebted to organisations such as the Hiroshima Singapore Association and the International Exchange Associations in Hyogo, Osaka and Shizuoka for providing support for immersion, home stay and/or internship programs to enrich the students' learning of Japan. Faculty members too are beneficiaries of generous research funding from the Japan Foundation, the Sumitomo Foundation, the Komai Scholarship, the Toshiba International Foundation, and the Japan Society for Promotion of Science (JSPS).</p>

    <p>The Department also cherishes its warm relationship with the local Japanese commu­nity. It has organized joint events with the Japanese Association Singapore and conducted local home stay exchanges between students of the Japanese schools in Singapore and NUS students who are studying Japanese. Both on an individual and institutional level, the Department maintains close contact with many Japanese companies, media organizations, and educational and research institutions.</p>

    <hr>

    <div class="well">
      <h3>Message from Prof Mitsuki Kumeka-wa, First Head of Department</h3>
      <h5>Written on the occasion of the 25th Anniversary of the founding of the Department of Japanese Studies (dated October 2006)</h5>

      <p>In the early 1980s, Singapore was just completing her nation building. The new airport opened, the subway project started, and the social security system became effective. I saw everywhere posters of campaigns with the slogans, "Two is enough," "Make Courtesy," and "Speak Mandarin." That was the time when the Department of Japanese Studies was inaugurated at the NUS.</p>

      <p>Arriving from Japan as the person responsible for the new department, I naturally had many things to solve. One small but important question was how to translate the department's name into Japanese. The simplest was 日本学科 (Nihon Gakka), but it didn't reflect the nuance of objectivity contained in the term “studies.” After some pondering, I decided to propose 日本研究学科 (Nihon Kenkyū Gakka), which actually was a literal translation of the original. Although it is not so easy to pronounce, I believe our choice was correct.</p>

      <p>During my four years chairing the department, I had never experienced any unpleasant moment. Faculty meetings held every other week discussed many serious problems, but Professor Edwin Thumboo, who was Dean at the time, and all the other members of the meetings were understanding and supportive in my handling of the new department. I also remember with gratitude my colleagues and staff members who shared the tough job during the initial period. And, my special thanks go to Mr. Tan Kay Hoe, the department secretary, who took care of me so thoughtfully from my first day of work. It was through him that I was able to brush up on my English, and gain an understanding of the lifestyle in Singapore.</p>

      <p>At present, the Japanese population is on the decrease. To maintain the existing society, Japan needs to invite a greater number of foreigners as a human resource. Japan seems to be gradually coming closer towards becoming a multi-racial, multi-cultural, and multi-lingual society. I feel the time is approaching where Japan has much to learn from Singapore in return. The department may have to play a more important role under such circumstances.</p>

      <p>Time flies as fast as a dream. I am happy to celebrate the 25th anniversary of the Department of Japanese Studies, and pray for its prosperity in the future. On a personal note, my experience in Singapore was something decisive to me, and keeps it firmly in the ocean of my heart as an island of dreams.</p>
    </div>
  </div>
</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>About</li>
      <li>History</li>
    </ul>
  </div>
</div>