<div class="container">
  <h1>About Us</h1>
  <hr>

  <div class="col-md-3">
    <%- include _sidenav %>
  </div>

  <div class="col-md-9">
    <p>The Department of Japanese Studies at the National University of Singapore produces quality graduates and innovative research on Japan, promotes exchange among academic disciplines, and develops new approaches to the understanding of Japan in Asia and the world.</p>
    <p>Founded in 1981, the Department of Japanese Studies is one of the largest area studies departments devoted to the study of Japan in the Asia-Pacific region.  We offer BA, MA and PhD degrees in Japanese Studies taught by specialists with qualifications from leading universities around the world.  Every year, more than 1500 undergraduate students enroll in our courses covering a broad range of disciplines including Japanese linguistics, business studies, sociology, anthropology, history, literature, religion, politics and international relations.  All of our faculty members have extensive experience in Japan and are active in publishing and research.</p>
    <p>The Department believes in the importance of maintaining close and supportive relationships with our students. Through our mentorship programme, each major student is paired with a faculty member who monitors the individual student's academic progress over the course of his/her time at NUS.  We encourage students to gain practical experience living in Japan and offer a variety of study abroad and work internship programmes, many of these funded by scholarships.</p>
    <p>Graduate students are awarded scholarships on a competitive basis together with funding for international conferences and fieldwork.  We welcome applications from qualified students of all nationalities.</p>
    <p>Our graduates have gone on to careers in a wide range of areas including business, foreign and civil service, journalism, translation, communications and education.</p>
    <p>The Department has 3 objectives:</p>
    <ul>
      <li>To produce graduates with expert knowledge on Japan that can be applied in business, government, media, and the wider community</li>
      <li>To conduct innovative and influential research on Japan</li>
      <li>To contribute to society by promoting understanding between Japan and Singapore</li>
    </ul>
    <hr>
    <div class="home-links">
      <a href="https://www.facebook.com/NUSDepartmentofJapaneseStudies">
        <button class="btn btn-links">Facebook</button>
      </a>

      <a href="../research/jsa_asean.html">
        <button class="btn btn-links">JSA-ASEAN</button>
      </a>

      <h2>Students and alumni explain why they chose Japanese Studies at NUS</h2>
      <div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/iImDGDYE6Lg?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>
    </div>
  </div>
</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>About Us</li>
    </ul>
  </div>
</div>