<ul class="side-nav">
  <li><a href="../research/research_projects.html">Research Projects</a></li>
  <li><a href="../research/publications.html">Publications</a></li>
  <li><a href="../research/graduate_research.html">Graduate Research</a></li>
  <li><a href="../research/jsa_asean.html">JSA-ASEAN</a></li>
</ul>