<div class="container">
  <h1>Research</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>Graduate Research</h2>
    <p>Current graduate students conduct research in areas such as Japanese literature, gender system, media and politics, environmentalism and religion, and trading companies. The tables below list our graduate students, both past and present, and their research topics.</p>
    <hr>
    <p class="lead">Thesis Topics and Supervisors of Graduate Students (AY2016-2017)</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Student</th>
          <th>Thesis Topic</th>
          <th>Supervisor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Normalis Amzah (PhD)</td>
          <td>Corporations as Environment Alists Leading the Ecological Discourse in Japan through Green Advertising  </td>
          <td>A/P Hendrik Meyer-Ohle</td>
        </tr>
        <tr>
          <td>Gao Ming (PhD)  </td>
          <td>Korean Residents'/Zainchi Situation and Identity Change in Japan, and the Influence of Korean Popular Culture on Them in Particular with a Focus on Female Japanese Role in the Massive Prevalence of Korean Culture in Japan </td>
          <td>A/P Timothy Amos</td>
        </tr>
        <tr>
          <td>Gao Yang (PhD)  </td>
          <td>Korean Residents'/Zainchi Situation and Identity Change in Japan, and the Influence of Korean Popular Culture on Them in Particular with a Focus on Female Japanese Role in the Massive Prevalence of Korean Culture in Japan </td>
          <td>A/P Timothy Amos</td>
        </tr>
        <tr>
          <td>Gao Yang (PhD)  </td>
          <td>Pictorialized Stage: Transmission and Reception of the Discourse on the Japanese Performers in Europe at the Turn of the Century  </td>
          <td>A/P Lim Beng Choo</td>
        </tr>
        <tr>
          <td>Ku Ka Leung </td>
          <td>Rebuilding Ohtsuchi Town after the Earthquake and Tsunami - Lessons in Post-Diaster Recovery Management </td>
          <td>A/P Timothy Amos</td>
        </tr>
        <tr>
          <td>Lim Hon Lee Jeremy  </td>
          <td>Anime and the Construction of Fictional Narratives and Characters </td>
          <td>A/P Deborah Shamoon</td>
        </tr>
        <tr>
          <td>Amethy Lu Zihui (PhD) </td>
          <td>Contemporary Japanese Theatre in Japanese Visual Entertainment Industry Value-chain </td>
          <td>A/P Lim Beng Choo</td>
        </tr>
        <tr>
          <td>Maria Thaemar Camanag Tana (PhD)</td>
          <td>Two-Level Games and Japan's Human Security Policy</td>
          <td>A/P Lim Beng Choo</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <p class="lead">Thesis Topics of Recent Graduates (2000 - 2016)</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Student</th>
          <th>Thesis Topic</th>
          <th>Year of Degree Conferment</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Eve Lyn Loh</td>
          <td>Taisho Nihonga Art Collectives  </td>
          <td>2016</td>
        </tr>
        <tr>
          <td>Tobias Fong Chun Wai</td>
          <td>Yokai in Kusazoshi Caricatures and Classes  </td>
          <td>2016</td>
        </tr>
        <tr>
          <td>Tong Koon Fung </td>
          <td>Enka as a Marker of Social Difference: Understanding "Tradition" as "Taste" </td>
          <td>2014</td>
        </tr>
        <tr>
          <td>Yao Huijun</td>
          <td>A Postcolonial Analysis of Cultural Practices of Ainu Museums in Hokkaido </td>
          <td>2014</td>
        </tr>
        <tr>
          <td>Yosuke Watanabe (PhD)</td>
          <td>Don't Forget to Fight!: Singapore's History Education and War Commemoration, 1945-2005</td>
          <td>2013</td>
        </tr>
        <tr>
          <td>Nguyen Ha Nguyen</td>
          <td>The 1871 Kaihorei: Discourse, Outcastes and The Politics Of Making Modern Japan </td>
          <td>2012</td>
        </tr>
        <tr>
          <td>Ken Takiguch (PhD)</td>
          <td>The History Of The Theatre Exchange Between Japan and Southeast Asia  </td>
          <td>2012</td>
        </tr>
        <tr>
          <td>Junko Sakomoto</td>
          <td>Normalizing Unnaturalness: Indexing "Foreignness" in Japanese-Dubbed Versions of American Movies and TV Drama </td>
          <td>2012</td>
        </tr>
        <tr>
          <td>Tan Bee Kee</td>
          <td>Unauthorized Romances: Female Fans and Weiss Kreuz Internet Yaoi Fanfiction </td>
          <td>2011</td>
        </tr>
        <tr>
          <td>Alexander Wollenberg (PhD)  </td>
          <td>Efficiency of Japanese High-Tech Companies' Technology Transfer in China</td>
          <td>2011</td>
        </tr>
        <tr>
          <td>Pang Carolyn  </td>
          <td>Spirit Servant: Narratives of Shikigami and Onmyōdō Developments  </td>
          <td>2010</td>
        </tr>
        <tr>
          <td>Kam Thiam Huat</td>
          <td>The Common Sense that Makes the "Otaku": Rules for Consuming Popular Culture in Contemporary Japan</td>
          <td>2009</td>
        </tr>
        <tr>
          <td>Yuen Shu Min</td>
          <td>Pop-Idol Concerts in Contemporary Japan - Queering Gender, Sexuality and Ethnicity</td>
          <td>2008</td>
        </tr>
        <tr>
          <td>Zheng Hong</td>
          <td>Animosity of Preference, Chinese Consumer's Attitudes Towards Japanese Products </td>
          <td>2008</td>
        </tr>
        <tr>
          <td>Lim Yin Chum  </td>
          <td>A Study of Country-based Differences in Project Manager's Practices in Project Management Implementation: Japan and Singapore </td>
          <td>2007</td>
        </tr>
        <tr>
          <td>Ni Yuliya </td>
          <td>Japan's FTA Policy: The Origins, Development and Nature </td>
          <td>2007</td>
        </tr>
        <tr>
          <td>Sho Shibamoto </td>
          <td>Problems and Future Prospects of a Japan-China FTA  </td>
          <td>2007</td>
        </tr>
        <tr>
          <td>Xie Qiaoguang </td>
          <td>A Study of the Role of Guanxi in Sino-Japanese Distribution Channel Relationships in China  </td>
          <td>2007</td>
        </tr>
        <tr>
          <td>Yu Jie  </td>
          <td>Working for Japanese Companies: An Empirical Study of the Conflicts of Japanese Management in China from the Perspective of Chinese Employees </td>
          <td>2007</td>
        </tr>
        <tr>
          <td>Sasuya John Wilfred Maligsay  </td>
          <td>Sustainable Development: Evaluation of the Rhetoric and Realities of Japanese Economic Assistance to the Philippines  </td>
          <td>2006</td>
        </tr>
        <tr>
          <td>Sustainable Development: Evaluation of the Rhetoric and Realities of Japanese Economic Assistance to the Philippines  </td>
          <td>Online Social Support for Single Mothers in Japan </td>
          <td>2006</td>
        </tr>
        <tr>
          <td>Tan Ban Chong </td>
          <td>The Political Opportunity Structure and the Enactment of Japan's "New" Privacy Law  </td>
          <td>2006</td>
        </tr>
        <tr>
          <td>Wang Hongyu</td>
          <td>Fantastic Elements, Special Families and Feminine Power in Healing - A Study of Yoshimoto Banana's Novels </td>
          <td>2006</td>
        </tr>
        <tr>
          <td>Karl Ian Uy Cheng Chua  </td>
          <td>The Stories They Tell: Komik Strips during the Japanese Occupation of the Philippines, 1942-45  </td>
          <td>2005</td>
        </tr>
        <tr>
          <td>Ng Suan Khee, Judy </td>
          <td>Shinto and Christian Festivals: An Analysis of the Japanese Religious Policy in Wartime Singapore </td>
          <td>2005</td>
        </tr>
        <tr>
          <td>Tan Chee Kuan </td>
          <td>Editorializing September 11: A News Discourse Analysis of the Asahi Shimbun, the New Straits Times and the New York Times </td>
          <td>2005</td>
        </tr>
        <tr>
          <td>Tan Chyn Ngian  </td>
          <td>A Study on the Error of Extra Particlel /No/ by Singaporean Secondary School Students </td>
          <td>2005</td>
        </tr>
        <tr>
          <td>Posadas Baryon Tensor Santiago  </td>
          <td>Memory, Mirrors and Missing Women: Metafictive Narrative Strategies and the Doppelganger Motif in the Fictions of Abe Kobo and Murakami Haruki  </td>
          <td>2004</td>
        </tr>
        <tr>
          <td>Zheng Yu </td>
          <td>Centers of Excellence?: Localization of Sogo Shosha in China  </td>
          <td>2004</td>
        </tr>
        <tr>
          <td>Guo Jun Hai (PhD) </td>
          <td>Motivations and Attitudes of Singapore's Japanese Language Learners: A Socio-linguistic Study </td>
          <td>2002</td>
        </tr>
        <tr>
          <td>Chua Geok Lian </td>
          <td>Watching Japanese Television Dramas in Singapore: Relevance, Cultural Proximity and Asian Modernity </td>
          <td>2002</td>
        </tr>
        <tr>
          <td>Lee Chee Keng </td>
          <td>Negotiating "Culture", Re-presenting "New Asia" A Case Study of Japan Foundation Asia Centers Production of Lear  </td>
          <td>2002</td>
        </tr>
        <tr>
          <td>Lim Mui Leng, Jasmine </td>
          <td>Recreation in Singapore Under the Japanese Occupation 1942-45 </td>
          <td>2002</td>
        </tr>
        <tr>
          <td>Tam Wai Lok </td>
          <td>Japanese Video Games in Hong Kong: A Study of Subordinate Males as Consumers  </td>
          <td>2002</td>
        </tr>
        <tr>
          <td>Ikeda Yuko </td>
          <td>Perception of Japanese Accent and Features of Pronunciation by Singaporean Learners of Japanese </td>
          <td>2002</td>
        </tr>
        <tr>
          <td>Miyazaki Yumiko </td>
          <td>Polite Expressions in Japanese at the Japanese Overseas Operating Companies: The Study of Japanese Companies in Singapore </td>
          <td>2002</td>
        </tr>
        <tr>
          <td>Michiko Goto </td>
          <td>An Analysis of Learners' Verbs based on Lexical Categories of Verbs (Kudo 1995) </td>
          <td>2001</td>
        </tr>
        <tr>
          <td>Hu Yi-ling  </td>
          <td>Ikebana in Singapore: Changes and Continuity  </td>
          <td>2001</td>
        </tr>
        <tr>
          <td>Lim Tai Wei </td>
          <td>The Political Economy of Information Technology (IT) in Japan and Singapore: A Comparative Study  </td>
          <td>2001</td>
        </tr>
        <tr>
          <td>Loo Tze May </td>
          <td>The Radicalisation of Protest: Kotokushisui and Anarchism in Late Meiji Japan </td>
          <td>2000</td>
        </tr>
        <tr>
          <td>Tan Shih Ming </td>
          <td>The Asian Monroe Doctrine: Tokutomi Soho's Concept of a New Asian Order </td>
          <td>2000</td>
        </tr>
        <tr>
          <td>Wu Xiao Jin </td>
          <td>The Boom of Karamono Adoration in Muromachi Japan: A Study of Development of Kanga  </td>
          <td>2000</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Research</li>
      <li>Graduate Research</li>
    </ul>
  </div>
</div>