<div class="container">
  <h1>Research</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>JSA-ASEAN</h2>
    <p>The <a href="https://sites.google.com/site/jsaasean2014/">Japanese Studies Association in Southeast Asia</a> (JSA-ASEAN) is a network among Japanese Studies specialists from Southeast Asia. It was set up in 2005 to serve as a catalyst in promoting Japanese studies in this region. It is the only organization with the aim of bringing together major Japanese studies specialists from various Southeast Asian countries with their counterparts from Japan and other countries. It is hoped that with the combined resources of Japanese Studies specialists in Southeast Asia, JSA-ASEAN will grow to become an important platform for the promotion of region-wide Japanese studies.</p>
    <p>In order to stimulate interest in and encourage research, teaching, and scholarly networking in Japanese Studies both among Southeast Asian countries as well as globally, JSA-ASEAN organizes a biennial conference as the major platform for trans-disciplinary international exchange. The inaugural conference was hosted by Department of Japanese Studies, National University of Singapore in October 2006, in conjunction with the 25th anniversary celebration of the Department of Japanese Studies and to mark the 40th anniversary of diplomatic relations between Japan and Singapore. In October 2009, the second JSA-ASEAN conference was organized in Hanoi, Vietnam with funding from Japan Foundation and the Mitsui-NUS Endowment Fund to promote Japanese Studies in Southeast Asia.</p>
    <p>JSA-ASEAN also supports the organization of a national Japanese studies association among Southeast Asian countries, and works towards close collaboration with other international associations of Japanese studies.</p>
  </div>

</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Research</li>
      <li>Research Projects</li>
    </ul>
  </div>
</div>