<div class="container">
  <h1>Research</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>Publications</h2>
    <hr>
    <h3>Books (since 2011)</h3>
    <table class="table">
      <tbody>
        <tr>
          <td><img src="../images/publications/Morita2.jpg"></td>
          <td><p class="lead">2016. Takagi, T., Hosoda, Y., & <strong>Morita, E.</strong>, eds. 会話分析の基礎 [Basics of Conversation Analysis]. Tokyo: Hituji Syobō.</p></td>
        </tr>
        <tr>
          <td><img src="../images/publications/ShamoonMcMorran.jpg"></td>
          <td><p class="lead">2016. <strong>Shamoon, D. & McMorran, C.</strong>, eds. Teaching Japanese Popular Culture, Ann Arbor, MI: Association for Asian Studies Publishers.</p></td>
        </tr>
        <tr>
          <td><img src="../images/publications/Lim.jpg"></td>
          <td><p class="lead">2012. <strong>Lim, B.C.</strong> Another Stage: Kanze Kojiro Nobumitsu and Late Muromachi Noh. Ithaca, NY: Cornell Univ East Asia Program.</p></td>
        </tr>
        </tr>
        <tr>
          <td><img src="../images/publications/Shamoon.jpg"></td>
          <td><p class="lead">2012. <strong>Shamoon, D.</strong> Passionate Friendship: The Aesthetics of Girls’ Culture in Japan. University of Hawaii Press.</p></td>
        </tr>
        </tr>
        <tr>
          <td><img src="../images/publications/Thang3.jpg"></td>
          <td><p class="lead">2012. Mehta, K and <strong>Thang, L.L.</strong> eds. Experiencing Grandparenthood: An Asian Perspective. Netherlands: Springer Publisher.</p></td>
        </tr>
        </tr>
        <tr>
          <td><img src="../images/publications/Amos.jpg"></td>
          <td><p class="lead">2011. <strong>Amos, T.</strong> Embodying Difference: The Making of Burakumin in Modern Japan. Honolulu: University of Hawai'i Press.</p></td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h3>Journal Articles & Book Chapters (since 2014)</h3>
    <ul>
      <li><p>Forthcoming. <strong>Amos, T.</strong> “The Subaltern Subject and Early Modern Taxonomies: Indianization and Racialization of the Japanese Outcaste,” <em>Asian Studies Review.</em></p></li>
      <li><p>Forthcoming. <strong>Amos, T.</strong> “Horses and Hostlers in the Making of a Japanese Foreign Settlement,” in <em>Everyday Life in the Treaty Ports of China and Japan: Essays Beyond the Bund</em>, edited by Donna Brunero and Stephanie Villalta Puig. Palgrave Macmillan.</p></li>
      <li><p>Forthcoming. <strong>McMorran, C.</strong> “Liberating Work in the Tourist Industry,” in <em>Rethinking Japanese Feminisms</em>, Julia Bullock, Ayako Kano, and James Welker, eds., Honolulu, HI: University of Hawai’i Press.</p></li>
      <li><p>2017. <strong>McMorran, C.</strong> “From Volunteers to Voluntours: shifting priorities in post-disaster Japan,” <em>Japan Forum.</em>  http://dx.doi.org/10.1080/09555803.2017.1307257</p></li>
      <li><p>2017. <strong>McMorran, C.</strong>, Ragupathi, K. and Luo S. “Assessment and Learning without Grades? Motivations and Concerns with Implementing Gradeless Learning in Higher Education,” <em>Assessment and Evaluation in Higher Education</em>, 42(3), pp. 361-377.</p></li>
      <li><p>2017. <strong>Morita, E.</strong> 相互行為詞：行為と行為の間における相互行為の秩序の交渉を捉える [Interactional Particles] 日本語学 36 (4), 152-163.</p></li>
      <li><p>2016. <strong>McMorran, C.</strong> “Unthinking the Nation-State as Area: interrogating Japan and Japanese studies,” <em>Environment & Planning D: Society and Space</em>, 34(5), pp. 815-821.</p></li>
      <li><p>2016. <strong>McMorran, C.</strong> “Author meets critics: learning through scholarly conversation,” <em>Asian Journal of the Scholarship of Teaching and Learning</em>, 6(1), pp. 8-26.</p></li>
      <li><p>2016. Burdelski, M. & <strong>Morita, E.</strong> “Young children’s initial assessment in Japanese.” In Amanda Bateman & Amelia Church (eds.), <em>Children & Conversation Analysis: Knowledge Production in Everyday Interaction.</em> (pp.231-255). Springer. </p></li>
      <li><p>2016 <strong>Morita, E.</strong>  会話のはじめの一歩：子供における相互行為詞「よ」の使用[First steps in conversation: Children’s use of the interactional particle ‘yo’] In Takada, A, Shimada, Y, and Kawashima M. (Eds.). 子育ての会話分析：大人と子供の責任はどう育つか [Conversation analysis of child care: How adults’ and children’s “responsibility” develops]. (pp.145-170). Kyoto: Showado.</p></li>
      <li><p>2016. <strong>Thang, L.L.</strong> “What Do Grandfathers Value? Understanding Grandfatherhood in Asia Through Chinese Grandfathers in Singapore.” In <em>Grandfathers: Global Perspectives.</em> Buchanan, Ann and Rotkirch, Anna eds. London: Springer.</p></li>
      <li><p>2016. Kim, Hyung Jun and <strong>Thang, L.L.</strong> “Regional Mobility from East Asia to Southeast Asia: The Case of Education and Retirement Migration.” In <em>Advancing The Regional Commons in The New East Asia</em>. Wajjwalku, Siriporn, Ho, Kong Chong and Yoshida, Osamu eds. London: Routledge. </p></li>
      <li><p>2015. <strong>Amos, T.</strong> “Fighting the Taboo Cycle: Google Map Protests and Buraku Human Rights Activism in Historical Perspective,” <em>Japanese Studies</em>, vol. 35, no. 3: 331-354.</p></li>
      <li><p>2015. <strong>Amos, T.</strong> “Asakusa ‘Newtown’: The Transformation of Outcaste Space in Early Modern Edo / Modern Tokyo,” <em>>Japan Forum</em, vol. 27, no. 2: 213-234.</p></li>
      <li><p>2015. <strong>McMorran, C."</strong>Between fan pilgrimage and dark tourism: competing agendas in overseas field learning," <em>Journal of Geography in Higher Education</em>, 39(4), pp. 568-583.</p></li>
      <li><p>2015. <strong>McMorran, C.</strong>“Mobilities amid the Production of Fixities: Labor in a Japanese Inn,” Mobilities.  10(1), pp. 83-99. Reprinted in <em>Mobilities: Critical Concepts in Built Environment</em>, Ole B. Jensen, ed., London: Routledge (2015). </p></li>
      <li><p>2015. <strong>Morita, E.</strong> Japanese interactional particles as a resource for stance building. <em>Journal of Pragmatics</em>. 91-103.</p></li>
      <li><p>2015. Takagi, T. & <strong>Morita, E.</strong>「ええと」によって開始される応答 [Responses initiated with “eeto”]. 社会言語科学 [The Japanese Journal of Language in Society] 18(1).</p></li>
      <li><p>2015. <strong>Shamoon, D.</strong> "The Superflat Space of Japanese Anime." <em>Asian Cinema and the Use of Space: Interdisciplinary Perspectives</em>, ed. Edna Lim and Lilian Chee. Routledge Advances in Film Studies, vol. 36. New York: Routledge, 93-108.</p></li>
      <li><p>2015. <strong>Thang, L.L.</strong> “Creating an intergenerational contact zone: encounters in public spaces within Singapore’s public housing neighbourhoods.” In <em>Intergenerational Space</em>. R.M. Vanderbeck and N. Worth eds. London: Routledge. </p></li>
      <li><p>2014. <strong>Amos, T.</strong> “Household Registration and the Dismantling of Edo Outcaste Cultures,” in <em>Japan’s Household Registration System and Citizenship: Koseki, Identification and Documentation</em>, edited by David Chapman and Karl Jakob Krogness (London: Routledge), 43-58.</p></li>
      <li><p>2014. <strong>McMorran, C.</strong> "How 'Green' is Japan? Studying Environmental Issues in the Field," <em>Education About Asia</em> 19(1), pp. 18-21.</p></li>
      <li><p>2014. <strong>McMorran, C.</strong> “A Landscape of ‘Undesigned Design’ in Rural Japan,” <em>Landscape Journal</em>. 33(1), pp. 1-15.</p></li>
      <li><p>2014. <strong>Meyer-Ohle, H.</strong> “Japanese retailers in Southeast Asia: strong local partners, shopping malls, and aiming for comprehensive internationalization.” <em>The International Review of Retail, Distribution and Consumer Research</em>, 24(5): 500-515.</p></li>
      <li><p>2014. <strong>Morita, E.</strong> “Say [X]”: A device for securing conversational footing in the talk of young children. <em>Discourse Processes</em> 52(4): 290-310. </p></li>
      <li><p>2014. <strong>Thang, L.L.</strong> An "active ageing" approach to living alone: Older men and women living in rental flats in Singapore. In <em>>Gender and Ageing: Southeast Asian Perspectives</em. T.W. Devasahayam ed. Singapore:Institute of Southeast Asian Studies.</p></li>
      <li><p>2014.  <strong>Thang, L.L.</strong> “Living independently, living well: Seniors living in housing and development board studio apartments in Singapore.” <em>Senri Ethnological Studies</em> 87:39-56. (Special Issue: The Anthropology of care and education for life, edited by N. Suzuki)</p></li>
      <li><p>2014. <strong>Thang, L.L.</strong> and Toyota, M. “Making 'traditional' families in trasnational settings: Japanese women in Balinese-Japanese marriages.” In <em>Configurations of Family in Contemporary Japan</em>. T. Aoyama, L. Dales and R. Dasgupta eds. London: Routledge.</p></li>
      <li><p>2014. Sone, S. and <strong>Thang, L.L.</strong> “Transnational Japanese women and family space in Western Australia.” In <em>Configurations of Family in Contemporary Japan</em>. T. Aoyama, L. Dales and R. Dasgupta eds. London: Routledge.</p></li>
    </ul>
  </div>

</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Research</li>
      <li>Publications</li>
    </ul>
  </div>
</div>