<div class="container">
  <h1>Research</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>Research Projects</h2>
    <hr>
    <p class="lead">Academic Staff</p>
    <p>In the field of Japanese-Southeast Asian studies, staff members have research interests in such topics as Japanese cultural interactions with Southeast Asian; comparative aging, women, work, popular culture and mass media in Japan and Southeast Asia; and Japanese regional dynamics and business enterprises in Southeast Asia.  In the field of Modern Japan, there are staff members working on civil society, the environment, aging and intergenerational relations, and urban and regional development in Japan.  There are also staff members working on premodern Japanese literature and history, contemporary Japanese performing arts and film, and Japanese linguistics.</p>
    <hr>
    <p class="lead">Research Projects</p>
    <table class="table">
      <thead>
        <tr>
          <th>Project Title</th>
          <th>Principal Investigator/Collaborator</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Japanese Children's Social Interaction and Language Use</td>
          <td>Dr Emi Morita</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Research</li>
      <li>Research Projects</li>
    </ul>
  </div>
</div>