<div class="container">
  <h1>Research</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>Research Projects</h2>
    <hr>
    <p class="lead">Academic Staff</p>
    <p>All staff members are Japan experts with research expertise and training in disciplines like Applied Linguistics, Anthropology, Business Administration, Geography, History, and Political Science, as well Japanese Literature and Cultural Studies. Their research interests include literature and poetics, sociolinguistics, early modern history, traditional performance, marketing, cultural geography, film, comparative aging, tourism, gender studies, art history, work, popular culture, and Japanese cultural interactions with Southeast Asia.</p>
    <hr>
    <p class="lead">Research Projects</p>
    <table class="table">
      <thead>
        <tr>
          <th>Project Title</th>
          <th>Principal Investigator/Collaborator</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Caste in Early Modern Japan: Danzaemon and the Edo Outcaste Order</td>
          <td>Timothy Amos</td>
        </tr>
        <tr>
          <td>Japanese Children's Social Interaction and Language Use</td>
          <td>Emi Morita</td>
        </tr>
        <tr>
          <td>Archiving Traditional Japanese Performance</td>
          <td>Lim Beng Choo</td>
        </tr>
        <tr>
          <td>Last Resort: labor, tourism and identity in Japan</td>
          <td>Chris McMorran</td>
        </tr>
        <tr>
          <td>Assessing the impacts of Grade-free Learning</td>
          <td>Chris McMorran</td>
        </tr>
        <tr>
          <td>Shopping Malls and Consumer Culture in Japan</td>
          <td>Hendrik Meyer-Ohle</td>
        </tr>
        <tr>
          <td>Recruitment of Foreign Employees by Japanese Companies</td>
          <td>Hendrik Meyer-Ohle</td>
        </tr>
        <tr>
          <td>Understanding community comprehensive care system in Japan</td>
          <td>Thang Leng Leng</td>
        </tr>
        <tr>
          <td>Intergenerational contact zones and applications</td>
          <td>Thang Leng Leng</td>
        </tr>
        <tr>
          <td>Japanese women in Southeast Asia: work and retirement</td>
          <td>Thang Leng Leng</td>
        </tr>
        <tr>
          <td>Long term care issues in Asia</td>
          <td>Thang Leng Leng</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Research</li>
      <li>Research Projects</li>
    </ul>
  </div>
</div>