<div class="container">
  <h1>Research</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>Departmental Seminars</h2>
    <p>The department has taken an active role in the promotion of Japanese studies. It has organised academic and intellectual encounters on the local as well as international scales, which have led to the production of a number of departmental publications.</p>
    <hr>
    <h2>Past Departmental Seminars</h2>
  </div>

</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Research</li>
      <li>Research Projects</li>
    </ul>
  </div>
</div>