<div class="container">
  <h1>Research</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>Departmental Seminars</h2>
    <p>The department has taken an active role in the promotion of Japanese studies. It has organised academic and intellectual encounters on the local as well as international scales, which have led to the production of a number of departmental publications.</p>
    <hr>
    <p class="lead">Seminar Series 2017</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Topic</th>
          <th>Speaker</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="/docs/sem-2017Mar3.pdf">Robots & Men: The Ambiguous Border of Life in Japanese Manga </a></td>
          <td>Prof Yukari Fujimoto  </td>
          <td>3 March 2017</td>
        </tr>
        <tr>
          <td><a href="/docs/sem-2017Feb17.pdf">Zainichi Koreans: History and Present </a></td>
          <td>Dr Hyewon Song  </td>
          <td>17 February 2017</td>
        </tr>
        <tr>
          <td><a href="/docs/sem-2017Feb3.pdf">Understanding Karaoke Classrooms and Kissas as Everyday Ageing Practice in Urban Japan</a></td>
          <td>Mr Benny Tong </td>
          <td>3 February 2017</td>
        </tr>
        <tr>
          <td><a href="/docs/sem-2017Feb2.pdf">Kyōiku-ijū (Education Migration): Affluent Japanese Families’ Transnational Education Strategies in Johor Bahru, Malaysia</a><br>(Joint seminar with FASS Migration Research Cluster)</td>
          <td>Dr Hiroki Igarashi</td>
          <td>2 February 2017</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h2>Past Departmental Seminars</h2>
    <p class="lead">Departmental Seminars</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Topic</th>
          <th>Speaker</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="/docs/sem-2016Nov17.pdf">Between Exigencies and Trauma: The Evolution of Japanese Immigration Policy</a></td>
          <td>Dr Ayako Komine</td>
          <td>17 November 2016</td>
        </tr>
        <tr>
          <td><a href="#"></a></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="#"></a></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="#"></a></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="#"></a></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="#"></a></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="#"></a></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="#"></a></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Research</li>
      <li>Research Projects</li>
    </ul>
  </div>
</div>