<ul class="side-nav">
  <li><a href="../japan_experience/overseas_study.html">Overseas Study</a></li>
  <li><a href="../japan_experience/sep_module_mapping.html">SEP Module Mapping</a></li>
  <li><a href="../japan_experience/homestay_programmes.html">Homestay Programmes</a></li>
  <li><a href="../japan_experience/field_studies.html">Field Studies</a></li>
  <li><a href="../undergraduate/internships.html">Internships</a></li>
</ul>