<div class="container">
  <h1>Japan Experience</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>Field Studies</h2>
    <p>The Department features several field studies opportunities:</p>
    <hr>
    <h4>JS3229 Field Studies in Japan</h4>
    <p>This is a 4-credit module conducted during special term (May). Dr. McMorran has taught the module each year since 2011. It begins with a week of coursework at NUS. This includes readings on the year’s theme, critical tourism studies, and qualitative research methods; seminar-style discussion; and group and individual research projects. Then the module moves to Japan (typically Kyushu) for 10 days, where students practice field methods by studying a theme relevant to contemporary Japan. Past themes have included ecotourism, disaster, and heritage tourism. Students typically share their experiences in a public forum such as the Japan Creative Centre or the NUS Central Library. The theme is announced each December, with applications from interested students due in February, and selection made in March. For more information, please visit <a href="http://blog.nus.edu.sg/mcmorran/">http://blog.nus.edu.sg/mcmorran/</a> or contact Dr. McMorran.</p>
    <hr>
  </div>
</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Japan Experience</li>
      <li>Field Studies</li>
    </ul>
  </div>
</div>