<div class="container">
  <h1>Research</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>Graduate Research</h2>
    <p>Current graduate students conduct research in areas such as Japanese literature, gender system, media and politics, environmentalism and religion, and trading companies. The tables below list our graduate students, both past and present, and their research topics.</p>
    <hr>
    <p class="lead">Thesis Topics and Supervisors of Graduate Students (AY2016-2017)</p>
    <table class="table">
      <thead>
        <tr>
          <th>Student</th>
          <th>Thesis Topic</th>
          <th>Supervisor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>data</td>
          <td>data</td>
          <td>data</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Research</li>
      <li>Research Projects</li>
    </ul>
  </div>
</div>