<div class="container">
  <h1>Japan Experience</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>Homestay Programmes</h2>
    <hr>
    <h3>Hiroshima Homestay Programme</h3>
    <p>Hiroshima Singapore Association (HSA) was established in 1995 to promote mutual understanding between Singapore and Hiroshima.  The Department has been organising student exchange homestay programmes with HSA since 1998.  Every year, students who participated in the programme have learnt about Japanese culture as well as Japanese businesses by attending flower arrangement and tea ceremony workshops, meeting with local university students, visiting companies and factories, and meeting with businesspeople in Hiroshima.</p>
    <img src="/images/japan/hiroshima05.JPG" alt="" class="img-responsive center-block">
    <br>
    <hr>
    <h3>Homestay Programme in Shizuoka Prefecture</h3>
    <br>
    <img src="/images/japan/shizuoka04.jpg" alt="" class="img-responsive center-block">
    <br>
    <p>Homestay Programme in Shizuoka Prefecture started in 2001 between Shizuoka University and the Department of Japanese Studies (NUS) with the aim of providing NUS students with a better understanding of Japanese culture and lifestyle, as well as to improve their Japanese language proficiency.  Besides living with host families, the programme allows students to participate in various exchange sessions consisting of presentations and discussions with Shizuoka University students, and field trips within Shizuoka Prefecture.</p>
  </div>

</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Japan Experience</li>
      <li>Homestay Programmes</li>
    </ul>
  </div>
</div>