<div class="container">
  <h1>Japan Experience</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>Overseas Study</h2>
    <p>Undergraduates majoring in Japanese Studies are encouraged to apply to various study programmes in Japan, including the NUS Student Exchange Programme and other prestigious programmes funded by the JCCI Foundation and the Monbukagakusho.  Department students have all demonstrated significant improvements in their Japanese competence after such long-term stays in Japan.  First-hand experience in the country also provides students with more direct insight and authentic knowledge on Japan.</p>
    <ul>
      <li><a href="/docs/prospectus2016.pdf">Prospectus for Study Abroad 2016</a></li>
      <li><a href="../japan_experience/field_studies.html">Field Studies in Japan</a></li>
    </ul>
    <hr>
    <h3>KYUSHU UNIVERSITY SUMMER PROGRAM</h3>
    <p>Kyushu University Summer Program - Asia in Today's World provides students with a unique opportunity to study Japanese language, culture and society.  Students will attend Japanese language classes and also courses on different aspects of Japan.  In addition, they also participate in study trips to places of cultural, social and historical interest and significance.  In order to provide a variety of living circumstances in Japan, two types of accommodation are arranged: off-campus accommodation and homestay.  This programme provides the students with a better knowledge of Japanese culture and lifestyle.</p>
    <p>Please refer to <a href="http://www.isc.kyushu-u.ac.jp/atw/index.htm">ATW website</a> for more information.</p>
    <img src="/images/japan/atw1.jpg" alt="" class="img-responsive center-block">
  </div>

</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Japan Experience</li>
      <li>Overseas Study</li>
    </ul>
  </div>
</div>