<div class="container">
  <h1>Japan Experience</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>SEP Module Mapping</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur deserunt minima dolorem deleniti fugiat perspiciatis sed voluptas, suscipit facere, aut nam laboriosam! Iusto eligendi maiores accusantium eaque, non saepe velit!</p>
    <hr>
  </div>
</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Japan Experience</li>
      <li>SEP Module Mapping</li>
    </ul>
  </div>
</div>