<div class="container">
  <h1>Japan Experience</h1>
  <hr>
  <div class="col-md-3">
    <%- include _sidenav %>
  </div>
  <div class="col-md-9">
    <h2>SEP Module Mapping</h2>
    <hr>
    <h3>Guidelines for Student Exchange Programme (SEP) Module Mapping for Japanese Studies–Outgoing NUS students</h3>
    <p>In order to receive modular credit in Japanese Studies for modules taken while on SEP, students must seek approval from both the Japanese Studies department and the Dean’s Office by applying through SIS. Submit mapping requests after your application has been approved by SEP and the partner university, but before classes begin. Mapping requests may be submitted later (i.e., after classes begin), but approval is not guaranteed. To avoid discovering too late that the module you took is not suitable, please submit mapping requests early.</p>

    <p>In order to be mapped to a Japanese Studies module code, a module must be about Japan. For comparative modules, at least 50% of the readings and assignments must be about Japan specifically. Modules about East Asia in general, or on other topics not related to Japan specifically (sociology, psychology, etc.), even if offered at a Japanese university, must be mapped to the appropriate NUS department. Modules must also have academic content. Requests for martial arts, tea ceremony, ikebana, dance or similar modules will be rejected, unless there is a substantial academic component (i.e., readings and research paper equal to a 2000 level module).</p>

    <p>All Japanese language module mapping requests should be directed to the Centre for Language Study and submitted with a LAJ module code, not a JS module code. For questions on mapping language modules, please contact CLS at <a href="http://www.fas.nus.edu.sg/cls/courses/index.html#mapping" title="">http://www.fas.nus.edu.sg/cls/courses/index.html#mapping</a></p>

    <p>The Japanese Studies department only approves mapping requests. <strong>The department does not allocate the MCs for the module.</strong> FASS students, please refer to the MC Ratio when calculating your MCs. For non-FASS students, please check with your Dean's Office on how the credits are calculated and transferred.</p>
    <a href="https://www.fas.nus.edu.sg/international-relations/undergraduates/student-exchange-programme/mc-exchange-ratios-for-sep.html" title="">https://www.fas.nus.edu.sg/international-relations/undergraduates/student-exchange-programme/mc-exchange-ratios-for-sep.html</a>
    <p>Final approval of mapping requests and allocation of MCs will be done by the dean’s office.</p>

    <hr>
    <h3>How to Select the Correct Module Code in SIS</h3>
    <p>To ensure your request is approved without delay, you must select the appropriate module code when applying through SIS. <strong>Nearly all SEP modules will be approved at the 2000 level.</strong> Look at the list of <a href="../undergraduate/module_information.html">2000 level modules offered in Japanese Studies</a> and see if any of these closely match the module at the partner university. If both the level and the content match, then select a fixed module code (ex., JS2228). If there is no match, select a department exchange module code (dummy code) JS27xx. When considering the list of module codes to select, remember the level matters more than the content. </p>

    <p><strong>Mapping at the 3000 level</strong> will only be approved if there is clear evidence that the module is at an advanced level. Some universities such as Waseda indicate the level of the module in the online course guide; only modules marked “advanced” can be mapped at the 3000 level. If the level is not clearly marked, you must submit or link to the syllabus, including reading list and assessment. In general, a 3000 level module must include a substantial and challenging reading list and a research paper as the majority of the assessment (not a group project, presentation or final exam). </p>

    <p><strong>The following modules cannot be mapped under any circumstance:</strong></p>
    <ul>
      <li>Exposure modules (JS1101E)</li>
      <li>JS2101, JS3101, JS4101-- JS majors/minors must take these modules at NUS.</li>
      <li>General Education modules (ex., GEH1014)</li>
    </ul>

    <hr>
    <h3>Frequently Asked Questions</h3>
    <div class="well">
      <strong>Q: Why was my mapping request rejected?</strong>
      <p>A: You must log in to SIS to see the reason. The reason is not included in the automated email from SIS.</p>
      <p>Most rejections occur for one of the following reasons:</p>
      <ul>
        <li>You selected a module code that was too high or too low. Remember most modules will be approved at the 2000 level only.</li>
        <li>The module is not about Japan.</li>
        <li>You selected a fixed module code but the content does not match. Select a dummy code instead (JS27xx).</li>
      </ul>
    </div>
    <div class="well">
      <strong>Q: I’m a JS major and I really need 3000 level MCs. What can I do?</strong>
      <p>A: Plan ahead to take most of your 3000 level MCs at NUS, and be aware that some Japanese universities have more advanced level modules than others available for exchange students. Remember that to receive the equivalent MCs for one 3000 level module at NUS, you must take 2-3 modules at the 3000 level at the partner university, depending on the exchange ratio. In your mapping request, be sure to select a module that is at an advanced level, and submit clear evidence of a challenging reading list and workload, equivalent to a 3000 level module at NUS. You may ask the instructor for a copy of the syllabus if it is not available online. Remember all MC allocations must be approved by the FASS Dean’s Office. </p>
    </div>
    <div class="well">
      <strong>Q: Can modules taught in Japanese be mapped?</strong>
      <p>A: Yes, if your language skills are good enough to take a module in Japanese, it can be mapped according to the same guidelines outlined above.</p>
    </div>
    <div class="well">
      <strong>Q: My partner university has not yet released the list of modules/timetable. What do I do? </strong>
      <p>A: If the list of modules from the previous year is available online, you can use that, but be aware some those modules may not be offered again. Or you can wait. Mapping requests may be submitted at any time, even after the semester begins. However, the risk is you might enrol in modules that don't cover the requirements you need or that cannot be mapped. Your chance of getting a module approved is much higher if you keep the above guidelines in mind.</p>
    </div>
    <div class="well">
      <strong>Q: The semester is already finished. Can I still submit mapping requests?</strong>
      <p>A: Yes, but approval is subject to the guidelines above.</p>
    </div>
    <p>For any further questions, please email <a href="jpshelp@nus.edu.sg">jpshelp@nus.edu.sg</a>.</p>
  </div>
</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Japan Experience</li>
      <li>SEP Module Mapping</li>
    </ul>
  </div>
</div>