<div class="container">
  <h1>Japanese Studies Alumni Group Committee (2016-2018)</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Position</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>President</td>
        <td>Eddie Tay</td>
      </tr>
      <tr>
        <td>Vice President</td>
        <td>Kennard Xu</td>
      </tr>
      <tr>
        <td>Secretary</td>
        <td>Ku Ka Leung</td>
      </tr>
      <tr>
        <td>Treasurer</td>
        <td>Jade Shen</td>
      </tr>
      <tr>
        <td>Head of Publicity</td>
        <td>Yao Huijin</td>
      </tr>
      <tr>
        <td>Head of Liaison</td>
        <td>Karen Ang</td>
      </tr>
    </tbody>
  </table>
  <p>Email us at <a href="mailto:NusJapaneseStudiesAlumni@gmail.com">NusJapaneseStudiesAlumni@gmail.com</a></p>
  <p>Join us on Facebook: search "NUS Japanese Studies Alumni"</p>
</div>

<hr>
<div class="nus-breadcrumbs">
  <div class="container">
    <ul>
      <li><span class="icon faicon fa-location"></span><a href="/index.html">Home</a></li>
      <li>Research</li>
      <li>Research Projects</li>
    </ul>
  </div>
</div>